@model Models.EF.ThongTinCaNhan
@{
    ViewBag.Title = "CapnhatTTCN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="breadcrumb_part breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Cập nhật thông tin</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->
<!--================Blog Area =================-->
<script>
    $(function () {
        $('#AlertBox').removeClass('hide');
        $('#AlertBox').delay(5000).slideUp(500);
    });
</script>

<section class="blog_area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                @RenderPage("_leftMenu1.cshtml")
            </div>
            <div class="col-lg-8 mb-5 mb-lg-0">

                <div class="blog_left_sidebar">
                    <h3 class="mb-10">Vui lòng điền đầy đủ thông tin</h3>
                    <hr />
                    <div class="panel-body">
                        @if (TempData["AlertMessage"] != null)
                        {
                            <div id="AlertBox" class="alert @TempData["AlertType"] hide">
                                @TempData["AlertMessage"]
                            </div>
                        }
                    </div>

                    <div>
                        @using (Html.BeginForm("CapnhatTTCN", "NguoiDung", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
     
                            <div class="panel-body" style="font-weight: bold; text-align: center; color: red">
                                @if (@ViewBag.ThongBao != null)
                                {
                                    <label>@ViewBag.ThongBao </label>
                                }
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-8">
                                    <form action="#">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(model => model.IdTTCN)
                                        <table class="mt-10">
                                            <tr>
                                                <th style="width:400px">
                                                    <div>
                                                        <a>Họ và tên </a>
                                                        @Html.EditorFor(model => model.hoTen, new { htmlAttributes = new { @class = "single-input", @type = "text" } })
                                      
                                                    </div>
                                                </th>
                                                <th class="col-lg-6">
                                                    <div>
                                                        <a>Số điện thoại</a>
                                                        @Html.EditorFor(model => model.soDT, new { htmlAttributes = new { @class = "single-input", @type = "number" } })
                                             
                                                    </div>
                                                </th>
                                            </tr>
                                        </table>
                                        <table class="mt-10">
                                            <tr>
                                                <th style="width:400px">
                                                    <div>
                                                        <a>Tài khoản</a>
                                                        @Html.EditorFor(model => model.userName, new { htmlAttributes = new { @class = "single-input", @type = "text", @readonly = "readonly" } })
                                                    </div>
                                                </th>
                                                <th class="col-lg-6">
                                                    <div>
                                                        <a>CMND / CCCD </a>
                                                        @Html.EditorFor(model => model.CCCD, new { htmlAttributes = new { @class = "single-input", @type = "number" } })
                                          
                                                    </div>
                                                </th>
                                            </tr>
                                        </table>
                                        <table class="mt-10">
                                            <tr>
                                                <th style="width:400px">
                                                    <div>
                                                        <a>Giới tính </a>
                                                        @Html.DropDownListFor(model => model.gioiTinh, new[] { new SelectListItem { Text = "Nam", Value = "True" },
                                                       new SelectListItem { Text = "Nữ", Value = "False" } }, new { @class = "single-input" })
                                       

                                                    </div>
                                                </th>
                                                <th class="col-lg-6">
                                                    <a>Ngày sinh </a>
                                                    @Html.EditorFor(model => model.ngaySinh, new { htmlAttributes = new { @class = "single-input", @type = "text", @readonly = "readonly" } })
                                                    @Html.ValidationMessageFor(model => model.ngaySinh, "", new { @class = "text-danger" })

                                                </th>
                                            </tr>
                                        </table>
                                        <table class="mt-10">
                                            <tr>
                                                <th style="width:400px">
                                                    <div>
                                                        <a>Lần hiến máu </a>
                                                        @Html.EditorFor(model => model.soLanHM, new { htmlAttributes = new { @class = "single-input", @type = "number" } })
                                             
                                                    </div>
                                                </th>
                                                <th class="col-lg-6">
                                                    <div>
                                                        <a>Nhóm máu </a>
                                                        @Html.DropDownListFor(model => model.nhomMau, new[] { new SelectListItem { Text = "Chưa biết"},
                                                                              new SelectListItem { Text = "A +"} , new SelectListItem { Text = "A -" } ,
                                                                              new SelectListItem { Text = "B +" } , new SelectListItem { Text = "B -" } ,
                                                                              new SelectListItem { Text = "AB +" } ,  new SelectListItem { Text = "AB -" } ,
                                                                              new SelectListItem { Text = "O +" } ,  new SelectListItem { Text = "O -" } },
                                                                              new { @class = "single-input" })
                                                    </div>
                                                </th>
                                            </tr>
                                        </table>
                                        <table class="mt-10">
                                            <tr>
                                                <th style="width:400px">
                                                    <a>Trình độ học vấn </a>
                                                    @Html.EditorFor(model => model.trinhDo, new { htmlAttributes = new { @class = "single-input", @type = "text" } })
                                           
                                                </th>
                                                <th class="col-lg-6">
                                                    <a>Nghề nghiệp </a>
                                                    @Html.EditorFor(model => model.ngheNghiep, new { htmlAttributes = new { @class = "single-input", @type = "text" } })
                                   
                                                </th>
                                            </tr>
                                        </table>
                                        <table class="mt-10">
                                            <tr>
                                                <th style="width:735px">
                                                    <a>Cơ quan / Trường lớp </a>
                                                    @Html.EditorFor(model => model.coQuanTH, new { htmlAttributes = new { @class = "single-input", @type = "text" } })
                                                </th>
                                            </tr>
                                            <tr>
                                                <th style="width:735px">
                                                    <a>Địa chỉ tạm trú</a>
                                                    @Html.EditorFor(model => model.diaChi, new { htmlAttributes = new { @class = "single-input", @type = "text" } })
                                  
                                                </th>
                                            </tr>
                                        </table>
                                    </form>
                                    <div class="text-center" style="margin-top:20px">
                                        <button type="submit" class="genric-btn primary-border radius">Cập nhật thông tin</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




