@model Models.EF.BenhVien

@{
    ViewBag.Title = "CreateBV";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
 
}

<h2>Thêm bệnh viện</h2>

@using (Html.BeginForm("CreateBV", "BenhVien", FormMethod.Post ))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                <label for="exampleText" class="">Tên bệnh viện</label>

                @Html.EditorFor(model => model.TenBenhVien, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenBenhVien, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-10">
                <label for="exampleText" class="">Email</label>

                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <label for="exampleText" class="">Số điện thoại</label>

                @Html.EditorFor(model => model.soDTBV, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.soDTBV, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-10">
                <label for="exampleText" class="">Địa chỉ</label>

                @Html.EditorFor(model => model.diaChi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.diaChi, "", new { @class = "text-danger" })
            </div>
        </div>
        @*<div class="form-group">
                <div class="col-md-10">
                    <label for="exampleFile" class="">Minh chứng</label>
                    @Html.EditorFor(model => model.minhChung, new
                   { htmlAttributes = new { @class = "form-control-file", @name = "file", @id = "exampleFile", @type = "file" } })
                </div>
            </div>*@
        <div class="form-group">
            <div class="col-md-10">
                <label for="exampleFile" class="">Minh chứng</label>
                @*@Html.EditorFor(model => model.minhChung, new
                   { htmlAttributes = new { @class = "form-control-file", @name = "UploadedFile", @id = "exampleFile", @type = "file" } })*@

                 <input name="file" id="exampleFile" type="file" class="form-control-file">
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-10">
                <label for="exampleText" class="">Trạng thái</label>
                @Html.DropDownListFor(model => model.trangThai, new[] { new SelectListItem { Text = "Hoạt động", Value = "True" }, new SelectListItem { Text = "không hoạt động", Value = "False" } }, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.trangThai, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="mt-2 btn btn-primary"> <i class="fa fa-save" type="submit"></i> Thêm</button>
            </div>
        </div>
    </div>
}
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <button class="mb-2 mr-2 btn-transition btn btn-outline-info">
            @Html.ActionLink("Quay lại danh sách", "Index", new { @class = "mb-2 mr-2 btn btn-success" })
        </button>
    </div>
</div>
