@model Models.ViewModel.DotHiemMauView

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DotHiemMauView</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdDHM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdDHM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenDHM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDHM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.noiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noiDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tgBatDau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tgBatDau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tgKetThuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tgKetThuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idDVLK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idDVLK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idNVYT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idNVYT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngayDK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngayDK)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
