@model Models.EF.DSNVTH

@{
    ViewBag.Title = "Phân chia nhiệm vụ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="breadcrumb_part breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Nhiệm Vụ</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(function () {
        $('#AlertBox').removeClass('hide');
        $('#AlertBox').delay(5000).slideUp(500);
    });
</script>
<section class="blog_area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                @RenderPage("_leftMenu2.cshtml")
            </div>
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    <h3>Nhiệm Vụ</h3>
                    <div class=" ">
                        <hr />
                        @using (Html.BeginForm("TaoNV", "DotToChucHM", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                        {
                            <div class="row">
                                <div class="col-lg-12 col-md-8">
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                    <div class="panel-body">
                                        @if (TempData["AlertMessage"] != null)
                                        {
                                            <div id="AlertBox" class="alert @TempData["AlertType"] hide">
                                                @TempData["AlertMessage"]
                                            </div>
                                        }
                                    </div>
                                    <form action="#">
                                        <table class="mt-10">
                                            <tr>
                                                <th style="width:400px">
                                                    <div>
                                                        <a>Nhân viên</a>
                                                        @Html.DropDownList("IdNVYT", null, htmlAttributes: new { @class = "single-input" })
                                                    </div>
                                                </th>
                                                <th class="col-lg-6">
                                                    <a>Nhiệm vụ</a>
                                                    @Html.DropDownListFor(model => model.nhiemVu, new[] {new SelectListItem { Text = "Khám sức khỏe"},
                                                                           new SelectListItem { Text = "Xét nghiệm" } ,  new SelectListItem { Text = "Lấy máu" }},
                                                                           new { @class = "single-input" })

                                                </th>
                                            </tr>

                                        </table>
                                    </form>
                                    @{
                                        var session = (HiemMauNhanDao.Common.UserLogin)Session[HiemMauNhanDao.Common.CommonConstant.USER_SESSION];
                                    }
                                    @if (session.AuthorID == "Q04")
                                    {
                                        <div class="text-center " style="margin-top:20px">
                                            <input type="submit" value="Chấp nhận" class="genric-btn info-border radius" />
                                        </div>
                                    }

                                </div>
                            </div>
                        }
                    </div>
                </div>
                <hr />

            </div>
        </div>
    </div>

</section>

