@model Models.EF.chiTietDHM

@{
    ViewBag.Title = "Phân chia đơn vị";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.IdChiTietDHM)

    <div class="form-group">
        <label>Tên đợt hiến máu</label>
        <div class="col-md-10">

            @Html.EditorFor(model => model.DotHienMau.TenDHM, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @*@Html.DropDownList("IdDHM", ViewBag.idDHM as SelectList, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })*@
        </div>
    </div>
    <div class="form-group">
        <label>Người đăng ký</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.tenNguoiDK, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>
    <div class="form-group">
        <label>Thời gian đăng ký</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.ngayDK, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>
    <div class="form-group">
        <label>Tên Bệnh viện</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.BenhVien.TenBenhVien, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

            @Html.ValidationMessageFor(model => model.idBenhVien, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label>Tên đơn vị liên kết</label>
        <div class="col-md-10">
            @Html.DropDownList("IdDVLK", ViewBag.idDonVi as SelectList, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.idDVLK, "", new { @class = "text-danger" })
        </div>
    </div>


    @Html.HiddenFor(model => model.idBenhVien, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    @Html.HiddenFor(model => model.idDHM, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
  



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lưu" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Trở về", "Index")
</div>