
@model Models.EF.PhieuDKHM
@{
    ViewBag.Title = "Đăng ký hiến máu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="breadcrumb_part breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Tham gia hiến máu</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(function () {
        $('#AlertBox').removeClass('hide');
        $('#AlertBox').delay(5000).slideUp(500);
    });
</script>

<div class="whole-wrap">
    <div class="container box_1170">
        <div class="section-top-border">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="panel-body" style="font-weight: bold; text-align: center; color: red">
                    @if (@ViewBag.ThongBao != null)
                    {
                        <label>@ViewBag.ThongBao </label>
                    }
                </div>
                <div class="row ">
                    <div class="form-group">
                        <label>id đợt tổ chức</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.idTTCN, new { htmlAttributes = new { @class = "form-control ", @readonly = "readonly" } })
                        </div>
                    </div>

                    <div class="form-group">
                        <label>id ttcn</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.idDTCHM, new { htmlAttributes = new { @class = "form-control ", @readonly = "readonly" } })
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div>
                            <div class="card-body">
                                <h5 class="card-title">Vui lòng điền đủ thông tin </h5>
                                <table class="mb-0 table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="col-lg-10">Nội dung</th>
                                            <th>Có</th>
                                            <th>Không</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><b style="color:rgb(0, 0, 0)">1/ Trước đây quý vị đã từng hiến máu chưa ?</b></td>
                                            <td>   @Html.RadioButtonFor(expression: model => model.hienMau, value: true)</td>
                                            <td>  @Html.RadioButtonFor(expression: model => model.hienMau, value: false)</td>
                                        </tr>
                                        <tr>
                                            <td> <b style="color:rgb(0, 0, 0)">2/ Từ nhỏ quý vị có bị các bệnh mãn tính:</b> Thấp khớp, chảy máu tiêu hóa, viêm gan vàng da, bệnh tiêm, huyết áp thấp/cao, bệnh thận, ho kéo dài, lao, ung thư...?</td>
                                            <td>   @Html.RadioButtonFor(expression: model => model.ungThu, value: true)</td>
                                            <td>  @Html.RadioButtonFor(expression: model => model.ungThu, value: false)</td>
                                        </tr>

                                        <tr>
                                            <td> <b style="color:rgb(0, 0, 0)">3/ Trong vòng 6 tháng gần đây, quý vị có:</b> </td>
                                            <td>  </td>
                                            <td>  </td>
                                        </tr>
                                        <tr>
                                            <td> Sút cân > 4 kg không rõ nguyên nhân ?</td>
                                            <td>   @Html.RadioButtonFor(expression: model => model.sutCan, value: true)</td>
                                            <td>  @Html.RadioButtonFor(expression: model => model.sutCan, value: false)</td>
                                        </tr>
                                        <tr>
                                            <td> Nổi hạch kéo dài?</td>
                                            <td>   @Html.RadioButtonFor(expression: model => model.noiHach, value: true)</td>
                                            <td>  @Html.RadioButtonFor(expression: model => model.noiHach, value: false)</td>
                                        </tr>
                                        <tr>
                                            <td>  Xăm mình, xỏ lỗi qua da (tai, mũi...)</td>
                                            <td>   @Html.RadioButtonFor(expression: model => model.xamMinh, value: true)</td>
                                            <td>  @Html.RadioButtonFor(expression: model => model.xamMinh, value: false)</td>
                                        </tr>
                                        <tr>
                                            <td> Sử dụng ma túy, tiêm chích</td>
                                            <td>   @Html.RadioButtonFor(expression: model => model.suDungMatuy, value: true)</td>
                                            <td>  @Html.RadioButtonFor(expression: model => model.suDungMatuy, value: false)</td>
                                        </tr>
                                        <tr>
                                            <td>  Quan hệ thân mật với người nhiễm HIV hoặc có nguy cơ cao lây qua đường lây nhiễm HIV</td>
                                            <td>   @Html.RadioButtonFor(expression: model => model.QHTD, value: true)</td>
                                            <td>  @Html.RadioButtonFor(expression: model => model.QHTD, value: false)</td>
                                        </tr>
                                        <tr>
                                            <td>Tiêm Vacxin phòng bệnh ?</td>
                                            <td>   @Html.RadioButtonFor(expression: model => model.tiemVacXin, value: true)</td>
                                            <td>  @Html.RadioButtonFor(expression: model => model.tiemVacXin, value: false)</td>
                                        </tr>
                                        <tr>
                                            <td> Sống trong vùng có dịch lưu hành (sốt rét, covid19...)?</td>
                                            <td>   @Html.RadioButtonFor(expression: model => model.NguyCoHIV, value: true)</td>
                                            <td>  @Html.RadioButtonFor(expression: model => model.NguyCoHIV, value: false)</td>
                                        </tr>
                                        <tr>
                                            <td> <b style="color:rgb(0, 0, 0)">4/ Trong vòng 1 tuần gần đây, quý vị có:</b> </td>
                                            <td>  </td>
                                            <td>  </td>
                                        </tr>
                                        <tr>
                                            <td> Bị cúm, ho, nhứt đầu, sốt</td>
                                            <td>   @Html.RadioButtonFor(expression: model => model.biSot, value: true)</td>
                                            <td>  @Html.RadioButtonFor(expression: model => model.biSot, value: false)</td>
                                        </tr>
                                        <tr>
                                            <td>Dùng thuốc kháng sinh, ASPIRIN, CORTICOID...?</td>
                                            <td>   @Html.RadioButtonFor(expression: model => model.dungTKS, value: true)</td>
                                            <td>  @Html.RadioButtonFor(expression: model => model.dungTKS, value: false)</td>
                                        </tr>
                                        <tr>
                                            <td>  Dùng thuốc kháng sinh, ASPIRIN, CORTICOID...?</td>
                                            <td>   @Html.RadioButtonFor(expression: model => model.chamCu, value: true)</td>
                                            <td>  @Html.RadioButtonFor(expression: model => model.chamCu, value: false)</td>
                                        </tr>
                                        <tr>
                                            <td> <b style="color:rgb(0, 0, 0)">5/ Quý vị hiện là đối tượng tàn tật hoặc hưởng trợ cấp tàn tật, nạn nhân chất độc màu da cam không?</b></td>
                                            <td>   @Html.RadioButtonFor(expression: model => model.dTTT, value: true)</td>
                                            <td>  @Html.RadioButtonFor(expression: model => model.dTTT, value: false)</td>
                                        </tr>
                                        <tr>
                                            <td> <b style="color:rgb(0, 0, 0)">6/ Câu hỏi dành cho phụ nữ: </b>Chị hiện có thai hoặc nuôi con dưới 12 tháng tuổi?</td>
                                            <td>   @Html.RadioButtonFor(expression: model => model.dangMangThai, value: true)</td>
                                            <td>  @Html.RadioButtonFor(expression: model => model.dangMangThai, value: false)</td>
                                        </tr>
                                        <tr>
                                            <td> <b style="color:rgb(0, 0, 0)">7 / Bệnh khác : </b></td>
                                            <td>   </td>
                                            <td>   </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Html.EditorFor(model => model.benhKhac, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ghi rõ nếu có" } })
                                            </td>

                                        </tr>

                                    </tbody>
                                    <tr>
                                        <th>
                                            Tôi đã đọc, hiểu và trả lời trung thực những câu hỏi trên. Nếu tôi phát hiệt bất cứ thông tin gì liên quan
                                            tới an toànn cho đơn vị máu tôi đã hiến, tôi sẽ liên hệ ngày với Quý Bệnh Viện để đảm bảo an toàn cho người nhận máu của tôi.
                                            Hôm nay tôi hoàn toàn khỏe mạnh và sẵn sàng tham gia hiến máu tình nguyện.
                                        </th>
                                        <th>
                                           
                                            @Html.EditorFor(model => model.xacNhan)
                                            Tôi đồng ý
                                        </th>
                                        <th>
                                        </th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <ul class="text-center">
                    @{
                        var session8 = (HiemMauNhanDao.Common.UserLogin)Session[HiemMauNhanDao.Common.CommonConstant.USER_SESSION];
                    }
                    @if (session8 == null)
                    {
                        <li>
                            <a class="genric-btn primary-border circle warning" href="@Url.Action("Index", "LoginClient") ">Hãy đăng nhập</a>
                        </li>

                    }
                    else
                    {
                        <li>
                            <button class="genric-btn primary-border circle " type="submit" >Đăng ký tham gia</button>
                        </li>
                    }
                </ul>
            }

        </div>
      
    </div>
</div>

