
@model Models.EF.chiTietDHM

@{
    ViewBag.Title = "Đăng ký đợt hiến máu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="breadcrumb_part breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Đăng ký đợt hiến máu</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(function () {
        $('#AlertBox').removeClass('hide');
        $('#AlertBox').delay(5000).slideUp(500);
    });
</script>
<section class="blog_area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="col-lg-12 col-md-8">
                    <hr>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="panel-body">
                            @if (TempData["AlertMessage"] != null)
                            {
                                <div id="AlertBox" class="alert @TempData["AlertType"] hide">
                                    @TempData["AlertMessage"]
                                </div>
                            }
                        </div>
                        <div>
                            <div>
                                <div class="row">
                                    <label class="">Chọn bệnh viện</label>
                                </div>
                            </div>



                            <div class="row">
                                @Html.DropDownList("idBenhVien", null, htmlAttributes: new { @class = "single-input" })
                                @Html.ValidationMessageFor(model => model.idBenhVien, "", new { @class = "text-danger" })
                            </div>

                            <div class="mt-3 mb-3">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Đăng ký" class="btn btn-success" />
                                </div>
                            </div>

                        </div>
                    }

                    <div class="whole-wrap" style="margin-top:30px">
                        <h3 class=" ">Đợt hiến máu</h3>
                        <hr />
                        <div class="container box_1170">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="~/Assets/client/img/elements/dh.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="col-md-9 mt-sm-20">
                                    <p> <a> Phong trào hiến máu quý 4</a></p>
                                    <p>Nội dung </p>
                                    <p>Thời gian bắt đầu</p>   <p>Thời gian kết thúc </p>
                                </div>
                                <table>
                                    <tr>
                                        <th style="width:500px"></th>
                                        <th class="col-lg-8">
                                            <a style=" margin-top: 10px; float:right " href="#" class="genric-btn primary-border radius">Đăng ký tham gia</a>
                                        </th>
                                    </tr>
                                   
                                </table>
                            </div>
                            <hr />

                            <div class="row">
                                <div class="col-md-3">
                                    <img src="~/Assets/client/img/elements/dh.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="col-md-9 mt-sm-20">
                                    <p> <a> Phong trào hiến máu quý 4</a></p>
                                    <p>Nội dung </p>
                                    <p>Thời gian bắt đầu</p>   <p>Thời gian kết thúc </p>
                                </div>
                                <table>
                                    <tr>
                                        <th style="width:500px"></th>
                                        <th class="col-lg-8">
                                            <a style=" margin-top: 10px; float:right " href="#" class="genric-btn primary-border radius">Đăng ký tham gia</a>
                                        </th>
                                    </tr>                                   
                                </table>
                            </div>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <form action="#">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder='Search Keyword'
                                           onfocus="this.placeholder = ''"
                                           onblur="this.placeholder = 'Nhập nội dung'">
                                    <div class="input-group-append">
                                        <button class="btn" type="button"><i class="ti-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <button class="button rounded-0 primary-bg text-white w-100 btn_1"
                                    type="submit">
                                Tìm kiếm
                            </button>
                        </form>
                    </aside>

                    @*  @RenderPage("_RightMenu.cshtml")*@


                </div>
            </div>
        </div>
    </div>
</section>