@model Models.EF.KetQuaHienMau

@{
    ViewBag.Title = "Kết quả hiến máu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<section class="breadcrumb_part breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Nhập kết quả hiến máu</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(function () {
        $('#AlertBox').removeClass('hide');
        $('#AlertBox').delay(5000).slideUp(500);
    });
</script>

<section class="blog_area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                @RenderPage("_leftMenu2.cshtml")
            </div>

            <div class="col-lg-8 mb-5 mb-lg-0">
                @using (Html.BeginForm("Create", "KetQuaHienMau", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="col-lg-12 col-md-8">
                        <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
                            <li class="nav-item">
                                <a role="tab" class="genric-btn info-border radius" id="tab-0" data-toggle="tab"
                                   href="#tab-content-0">
                                    <h3>Khám lâm sàng</h3>
                                </a>
                            </li>                         
                        </ul>

                        <hr>
                        @if (TempData["AlertMessage"] != null)
                        {
                            <div id="AlertBox" class="alert @TempData["AlertType"] hide">
                                @TempData["AlertMessage"]
                            </div>
                        }
                        <div class="tab-content">
                            <!--================tab1 =================-->
                            <div  >
                                <form action="#">
                                    <table class="mt-10">
                                        <tr>
                                            <th style="width:400px">
                                                <div>
                                                    Cân nặng
                                                    @Html.EditorFor(model => model.canNang, new { htmlAttributes = new { @class = "single-input", @placeholder = "cân nặng (kg)" } })
                                                </div>
                                            </th>
                                            <th class="col-lg-6">
                                                <div>
                                                    Mạch máu
                                                    @Html.EditorFor(model => model.machMau, new { htmlAttributes = new { @class = "single-input", @placeholder = "Mạch (lần/phút)" } })
                                                </div>
                                            </th>
                                        </tr>
                                    </table>
                                    <table class="mt-10">
                                        <tr>
                                            <th style="width:400px">
                                                <div>
                                                    Huyết áp
                                                    @Html.EditorFor(model => model.huyetAp, new { htmlAttributes = new { @class = "single-input", @placeholder = "Huyết áp (mmHg)" } })
                                                </div>
                                            </th>
                                            <th class="col-lg-6">
                                                <div>
                                                    Tình trạng lâm sàn
                                                    @Html.EditorFor(model => model.tinhTrangLS, new { htmlAttributes = new { @class = "single-input", @placeholder = "ổn định" } })
                                                </div>
                                            </th>
                                        </tr>

                                    </table>
                                    <table class="mt-10">
                                        <tr>
                                            
                                            <th style="width:400px">
                                                <div>
                                                   Hiến máu

                                                    @Html.DropDownListFor(model => model.hienMau, new[] { new SelectListItem { Text = "Đủ điều kiện", Value = "True" },
                                                      new SelectListItem { Text = "Không đủ điều kiện", Value = "False" } }, new { @class = "single-input" })
                                                    @Html.ValidationMessageFor(model => model.hienMau, "", new { @class = "text-danger" })

                                                </div>
                                            </th>
                                            <th class="col-lg-6">
                                                <div>
                                                    Thể tích (ml)
                                                    @Html.DropDownListFor(model => model.luongMauHien, new[] { new SelectListItem { Text = "250"},
                                                                          new SelectListItem { Text = "350"} , new SelectListItem { Text = "450" }},
                                                   new { @class = "single-input" })
                                                </div>
                                            </th>
                                        </tr>
                                    </table>

                                    <table class="mt-10">
                                        <tr>
                                            <th style="width:400px">
                                                Người khám
                                                @Html.EditorFor(model => model.nguoiKham, new { htmlAttributes = new { @class = "single-input", @placeholder = "người khám", @readonly = "@readonly" } })
                                                @Html.HiddenFor(model => model.idnguoiKham, new { htmlAttributes = new { @class = "single-input", @placeholder = "người khám", @readonly = "@readonly" } })

                                            </th>
                                            <th class="col-lg-6">
                                                <div>
                                                    Lý do không hiến máu được
                                                    @Html.EditorFor(model => model.ghiChu, new { htmlAttributes = new { @class = "single-input", @placeholder = "ổn định" } })

                                                </div>
                                            </th>

                                        </tr>
                                    </table>
                                </form>
                                <div class="text-center " style="margin-top: 20px;">
                                    <button type="submit" class="genric-btn primary-border radius">Tạo kết quả</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    }
                    <hr />
                    <h2>Lưu ý</h2>
                    <table class="mt-10">
                        <tr>
                            <th style="width:400px">
                                <div>
                                    SA: <a> giờ buổi sáng</a>
                                </div>
                            </th>
                            <th class="col-lg-6">
                                <div>
                                    Ngày bắt đầu < ngày kết thúc < Ngày triển khai
                                </div>
                            </th>
                            <th></th>
                        </tr>
                        <tr>
                            <th style="width:400px">
                                <div>
                                    CH : <a>giờ buổi chiều </a>
                                </div>
                            </th>
                            <th class="col-lg-6">
                                <div>
                                    Chỉ được chỉnh sửa trước ngày triển khai
                                </div>
                            </th>
                        </tr>
                    </table>
                </div>
       
        </div>
    </div>
</section>



 