@model Models.EF.KetQuaHienMau

@{
    ViewBag.Title = "Kết quả hiến máu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<section class="breadcrumb_part breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Nhập kết quả hiến máu</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->
<!--================Blog Area =================-->
<section class="blog_area section_padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-4">
                @RenderPage("_leftMenu2.cshtml")
            </div>

            <div class="col-lg-8 mb-5 mb-lg-0">

                @using (Html.BeginForm("Create", "KetQuaHienMau", FormMethod.Post, new { @enctype = "multipart/form-data" }))

                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-lg-12 col-md-8">
                        <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
                            <li class="nav-item">
                                <a role="tab" class="genric-btn info-border radius" id="tab-0" data-toggle="tab"
                                   href="#tab-content-0">
                                    <h3>Khám lâm sàng</h3>
                                </a>
                            </li>
                            <li class="nav-item" style="margin-left:20px; margin-right:20px">
                                <a role="tab" class="genric-btn info-border radius" data-toggle="tab" href="#tab-content-1">
                                    <h3>Xét nghiệm trước HM</h3>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a role="tab" class="genric-btn info-border radius" id="tab-2" data-toggle="tab" href="#tab-content-2">
                                    <h3>Lấy máu</h3>
                                </a>
                            </li>
                        </ul>

                        <hr>
                        @if (TempData["AlertMessage"] != null)
                        {
                            <div id="AlertBox" class="alert @TempData["AlertType"] hide">
                                @TempData["AlertMessage"]
                            </div>
                        }
                        <div class="tab-content">
                            <!--================tab1 =================-->
                            <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
                                <form action="#">
                                    <table class="mt-10">
                                        <tr>
                                            <th style="width:400px">
                                                <div>
                                                    Cân nặng
                                                    @Html.EditorFor(model => model.canNang, new { htmlAttributes = new { @class = "single-input", @placeholder = "cân nặng (kg)" } })
                                                </div>
                                            </th>
                                            <th class="col-lg-6">
                                                <div>
                                                    Mạch máu
                                                    @Html.EditorFor(model => model.machMau, new { htmlAttributes = new { @class = "single-input", @placeholder = "Mạch (lần/phút)" } })
                                                </div>
                                            </th>
                                        </tr>
                                    </table>
                                    <table class="mt-10">
                                        <tr>
                                            <th style="width:400px">
                                                <div>
                                                    Huyết áp
                                                    @Html.EditorFor(model => model.huyetAp, new { htmlAttributes = new { @class = "single-input", @placeholder = "Huyết áp (mmHg)" } })
                                                </div>
                                            </th>
                                            <th class="col-lg-6">
                                                <div>
                                                    Tình trạng lâm sàn
                                                    @Html.EditorFor(model => model.tinhTrangLS, new { htmlAttributes = new { @class = "single-input", @placeholder = "ổn định" } })
                                                </div>
                                            </th>
                                        </tr>

                                    </table>
                                    <table class="mt-10">
                                        <tr>
                                            <th style="width:400px">
                                                <p>
                                                    <b style="color:rgb(0, 0, 0);">Hiến máu        </b>
                                                </p>
                                            </th>
                                            <th style="width:400px">
                                                <div class="checkbox" style="width:20px;height:20px">
                                                    @Html.EditorFor(model => model.hienMau)
                                                </div>
                                            </th>
                                            <th class="col-lg-6">
                                                <div>
                                                    Thể tích
                                                    @Html.DropDownListFor(model => model.luongMauHien, new[] { new SelectListItem { Text = "250"},
                                                                          new SelectListItem { Text = "350"} , new SelectListItem { Text = "450" }},
                                                   new { @class = "single-input" })
                                                </div>
                                            </th>
                                        </tr>
                                    </table>

                                    <table class="mt-10">
                                        <tr>
                                            <th style="width:400px">
                                                Thời gian khám
                                                @Html.EditorFor(model => model.tgLayMau, new { htmlAttributes = new { @class = "single-input", @type = "datetime-local", @for = "datepicker", @name = "thoiGianLayMau" } })
                                            </th>
                                            <th class="col-lg-6">
                                                <div>
                                                    Lý do không hiến máu được
                                                    @Html.EditorFor(model => model.ghiChu, new { htmlAttributes = new { @class = "single-input", @placeholder = "ổn định" } })

                                                </div>
                                            </th>

                                        </tr>


                                    </table>


                                    <table class="mt-10">
                                        <tr>
                                            <th style="width:400px">
                                                <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>Người khám
                                                <div class="form-select" id="default-select_1">
                                                    <select>
                                                        <option value="">Người khám  </option>
                                                        <option>Võ Lập</option>
                                                        <option>Quang Nhã</option>
                                                        <option>Ngọc Huy</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                    </select>
                                                </div>
                                            </th>
                                            <th class="col-lg-6">
                                                <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>Trạng thái
                                                @Html.DropDownListFor(model => model.trangThai, new[] { new SelectListItem { Text = "Đang cập nhật"},
                                                                        new SelectListItem { Text = "Chưa cập nhật"} , new SelectListItem { Text = "A -" } ,
                                                                        new SelectListItem { Text = "B +" } , new SelectListItem { Text = "Cập nhật xong" } },
                                                     new { @class = "single-input" })

                                            </th>
                                        </tr>
                                    </table>
                                </form>
                                <div class="text-center " style="margin-top: 20px;">
                                    <a class="btn_2 " href="#" type="sumit">Cập nhật</a>
                                </div>
                            </div>

                            <div class="tab-pane tabs-animation fade" id="tab-content-1" role="tabpanel">
                                <form action="#">
                                    <table class="mt-10">
                                        <tr>
                                            <th style="width:400px">
                                                <div>
                                                    Xét nghiệm huyết sắc tố
                                                    @Html.EditorFor(model => model.HST, new { htmlAttributes = new { @class = "single-input", @placeholder = " Xét nghiệm huyết sắc tố" } })
                                                </div>
                                            </th>
                                            <th class="col-lg-6">
                                                <div>
                                                    Xét nghiệm viêm gan B
                                                    @Html.EditorFor(model => model.HBV, new { htmlAttributes = new { @class = "single-input", @placeholder = "Xét nghiệm viêm gan B" } })

                                                </div>
                                            </th>
                                        </tr>
                                    </table>

                                    <table class="mt-10">
                                        <tr>
                                            <th style="width:400px">
                                                <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>Người xét nghiệm
                                                <div class="form-select" id="default-select_1">
                                                    <select>
                                                        <option value="">Người khám  </option>
                                                        <option>Võ Lập</option>
                                                        <option>Quang Nhã</option>
                                                        <option>Ngọc Huy</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                    </select>
                                                </div>
                                            </th>
                                            <th class="col-lg-6">
                                                <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>Trạng thái
                                                @Html.DropDownListFor(model => model.trangThai, new[] { new SelectListItem { Text = "Đang cập nhật"},
                                                                        new SelectListItem { Text = "Chưa cập nhật"} , new SelectListItem { Text = "A -" } ,
                                                                        new SelectListItem { Text = "B +" } , new SelectListItem { Text = "Cập nhật xong" } },
                                                     new { @class = "single-input" })

                                            </th>
                                        </tr>
                                    </table>
                                </form>
                                <div class="text-center " style="margin-top: 20px;">
                                    <a class="btn_2 " href="#">Cập nhật</a>
                                </div>
                            </div>

                            <div class="tab-pane tabs-animation fade" id="tab-content-2" role="tabpanel">
                                <form action="#">
                                    <table class="mt-10">
                                        <tr>
                                            <th style="width:400px">
                                                Xét nghiệm máu
                                                @Html.EditorFor(model => model.MSD, new { htmlAttributes = new { @class = "single-input", @placeholder = "Xét nghiệm máu" } })
                                            </th>
                                            <th class="col-lg-6">
                                                Thời gian lấy máu
                                                @Html.EditorFor(model => model.tgLayMau, new { htmlAttributes = new { @class = "single-input", @type = "datetime-local", @for = "datepicker", @name = "thoiGianLayMau" } })
                                            </th>
                                        </tr>
                                    </table>
                                    <table class="mt-10">
                                        <tr>
                                            <th style="width:400px">
                                                Phản ứng
                                                @Html.EditorFor(model => model.phanUng, new { htmlAttributes = new { @class = "single-input", @placeholder = "Phản ứng" } })

                                            </th>
                                            <th class="col-lg-6">
                                                Xử lý
                                                @Html.EditorFor(model => model.noiDung, new { htmlAttributes = new { @class = "single-input", @placeholder = " Xử lý" } })

                                            </th>
                                        </tr>
                                    </table>
                                    <table class="mt-10">
                                        <tr>
                                            <th style="width:400px">
                                                <div>
                                                    Lần hiến máu
                                                    <input type="text" name="last_name" placeholder="Số lần hiếm máu"
                                                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Số lần hiếm máu'" required
                                                           class="single-input">
                                                </div>
                                            </th>
                                            <th class="col-lg-6">
                                                <div>
                                                    Nhóm máu
                                                    @Html.DropDownListFor(model => model.nhomMau, new[] { new SelectListItem { Text = "Chưa biết"},
                                                                          new SelectListItem { Text = "A +"} , new SelectListItem { Text = "A -" } ,
                                                                          new SelectListItem { Text = "B +" } , new SelectListItem { Text = "B -" } ,
                                                                          new SelectListItem { Text = "AB +" } ,  new SelectListItem { Text = "AB -" } ,
                                                                          new SelectListItem { Text = "O +" } ,  new SelectListItem { Text = "O -" } },
                                                   new { @class = "single-input" })
                                                </div>
                                            </th>
                                        </tr>
                                    </table>
                                    <table class="mt-10">
                                        <tr>
                                            <th style="width:400px">
                                                <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>Lấy máu
                                                <div class="form-select" id="default-select_1">
                                                    <select>
                                                        <option value="">Người khám  </option>
                                                        <option>Võ Lập</option>
                                                        <option>Quang Nhã</option>
                                                        <option>Ngọc Huy</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                    </select>
                                                </div>
                                            </th>
                                            <th class="col-lg-6">
                                                <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>Trạng thái
                                                @Html.DropDownListFor(model => model.trangThai, new[] { new SelectListItem { Text = "Đang cập nhật"},
                                                                        new SelectListItem { Text = "Chưa cập nhật"} , new SelectListItem { Text = "A -" } ,
                                                                        new SelectListItem { Text = "B +" } , new SelectListItem { Text = "Cập nhật xong" } },
                                                     new { @class = "single-input" })

                                            </th>
                                        </tr>
                                    </table>
                                </form>
                                <div class="text-center " style="margin-top: 20px;">
                                    <a class="btn_2 " href="#">Cập nhật</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                    <hr />
                    <h2>Lưu ý</h2>
                    <table class="mt-10">
                        <tr>
                            <th style="width:400px">
                                <div>
                                    SA: <a> giờ buổi sáng</a>
                                </div>
                            </th>
                            <th class="col-lg-6">
                                <div>
                                    Ngày bắt đầu < ngày kết thúc < Ngày triển khai
                                </div>
                            </th>
                            <th></th>
                        </tr>
                        <tr>
                            <th style="width:400px">
                                <div>
                                    CH : <a>giờ buổi chiều </a>
                                </div>
                            </th>
                            <th class="col-lg-6">
                                <div>
                                    Chỉ được chỉnh sửa trước ngày triển khai
                                </div>
                            </th>
                        </tr>
                    </table>
                </div>
       
        </div>
    </div>
</section>



<script>
    $(function () {
        $('#AlertBox').removeClass('hide');
        $('#AlertBox').delay(5000).slideUp(500);
                });
</script>