@model Models.EF.KetQuaHienMau
@{
    ViewBag.Title = "Xét nghiệm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="breadcrumb_part breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Cập nhật kết quả </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(function () {
        $('#AlertBox').removeClass('hide');
        $('#AlertBox').delay(5000).slideUp(500);
    });
</script>

<section class="blog_area section_padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-4">
                @RenderPage("_leftMenu2.cshtml")
            </div>

            <div class="col-lg-8 mb-5 mb-lg-0">

                @using (Html.BeginForm("Edit", "KetQuaHienMau", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })                  
                    <div class="col-lg-12 col-md-8">
                        <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">

                            <li class="nav-item" style="margin-left:20px; margin-right:20px">
                                <a role="tab" class="genric-btn info-border radius" data-toggle="tab" href="#tab-content-1">
                                    <h3>Xét nghiệm trước HM</h3>
                                </a>
                            </li>

                        </ul>

                        <hr>
                        @if (TempData["AlertMessage"] != null)
                        {
                            <div id="AlertBox" class="alert @TempData["AlertType"] hide">
                                @TempData["AlertMessage"]
                            </div>
                        }
                        <div class="row">
                            <!--================tab1 =================-->

                            <div class="col-lg-12 col-md-8">
                                <form action="#">
                                    <table class="mt-10">
                                        <tr>
                                            <th style="width:400px">
                                                <div>
                                                    Xét nghiệm huyết sắc tố
                                                    @Html.EditorFor(model => model.HST, new { htmlAttributes = new { @class = "single-input", @placeholder = " Xét nghiệm huyết sắc tố" } })
                                                </div>
                                            </th>
                                            <th class="col-lg-6">
                                                <div>
                                                    Xét nghiệm viêm gan B
                                                    @Html.DropDownListFor(model => model.HBV, new[] { new SelectListItem { Text = "Âm tính" }, new SelectListItem { Text = "Dương tính" } },
                                                 new { @class = "single-input" })

                                                </div>
                                            </th>
                                        </tr>
                                    </table>

                                    <table class="mt-10">
                                        <tr>
                                            <th style="width:400px">
                                                <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>Người khám
                                                @Html.EditorFor(model => model.idnguoiXN, new { htmlAttributes = new { @class = "single-input", @placeholder = "mã nhân viên", @readonly = "@readonly" } })

                                            </th>
                                            <th class="col-lg-6">
                                                <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>Trạng thái
                                                @Html.DropDownListFor(model => model.trangThai, new[] { new SelectListItem { Text = "Đang cập nhật" } },
                                                     new { @class = "single-input" })
                                            </th>
                                        </tr>
                                    </table>
                                    @Html.HiddenFor(model => model.IdKQHM, new { htmlAttributes = new { @class = "single-input" } })
                                    @Html.HiddenFor(model => model.idPDKHM, new { htmlAttributes = new { @class = "single-input" } })
                                    @Html.HiddenFor(model => model.idnguoiKham, new { htmlAttributes = new { @class = "single-input" } })
                                    @Html.HiddenFor(model => model.idnguoiLayMau, new { htmlAttributes = new { @class = "single-input" } })
                                    @Html.HiddenFor(model => model.tgKham, new { htmlAttributes = new { @class = "single-input" } })
                                    @Html.HiddenFor(model => model.tgLayMau, new { htmlAttributes = new { @class = "single-input" } })

                                    @Html.HiddenFor(model => model.nhomMau, new { htmlAttributes = new { @class = "single-input" } })
                                    @Html.HiddenFor(model => model.canNang, new { htmlAttributes = new { @class = "single-input" } })
                                    @Html.HiddenFor(model => model.tinhTrangLS, new { htmlAttributes = new { @class = "single-input" } })
                                    @Html.HiddenFor(model => model.machMau, new { htmlAttributes = new { @class = "single-input" } })
                                    @Html.HiddenFor(model => model.huyetAp, new { htmlAttributes = new { @class = "single-input" } })
                                    @Html.HiddenFor(model => model.noiDung, new { htmlAttributes = new { @class = "single-input" } })
                                    @Html.HiddenFor(model => model.luongMauHien, new { htmlAttributes = new { @class = "single-input" } })
                                    @Html.HiddenFor(model => model.hienMau, new { htmlAttributes = new { @class = "single-input" } })
                                    @Html.HiddenFor(model => model.MSD, new { htmlAttributes = new { @class = "single-input" } })
                                    @Html.HiddenFor(model => model.phanUng, new { htmlAttributes = new { @class = "single-input" } })
                                    @Html.HiddenFor(model => model.ghiChu, new { htmlAttributes = new { @class = "single-input" } })
                                 

                                </form>
                                <div class="text-center " style="margin-top: 20px;">
                                    <button class="genric-btn primary-border circle "  type="submit">Cập nhật</button>
                                </div>
                            </div>

                        </div>
                    </div>
                }
                <hr />
                <h2>Lưu ý</h2>
                <table class="mt-10">
                    <tr>
                        <th style="width:400px">
                            <div>
                                SA: <a> giờ buổi sáng</a>
                            </div>
                        </th>
                        <th class="col-lg-6">
                            <div>
                                Ngày bắt đầu < ngày kết thúc < Ngày triển khai
                            </div>
                        </th>
                        <th></th>
                    </tr>
                    <tr>
                        <th style="width:400px">
                            <div>
                                CH : <a>giờ buổi chiều </a>
                            </div>
                        </th>
                        <th class="col-lg-6">
                            <div>
                                Chỉ được chỉnh sửa trước ngày triển khai
                            </div>
                        </th>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</section>





<script>
    $(function () {
        $('#AlertBox').removeClass('hide');
        $('#AlertBox').delay(5000).slideUp(500);
    });
</script>
