@model Models.ViewModel.ChiTietPDKHvsKQHMView

@{
    ViewBag.Title = "Thông tin chi tiết";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="breadcrumb_part breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Thông tin cá nhân</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->
<!--================Blog Area =================-->
<script>
    $(function () {
        $('#AlertBox').removeClass('hide');
        $('#AlertBox').delay(5000).slideUp(500);
    });
</script>

<section class="blog_area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                @RenderPage("_leftMenu2.cshtml")
            </div>
            <div class="col-lg-8 mb-5 mb-lg-0">

                <div class="blog_left_sidebar">
                    <h3 class="mb-10">Thông tin cá nhân </h3>
                    <hr />
                    <div class="panel-body">
                        @if (TempData["AlertMessage"] != null)
                        {
                            <div id="AlertBox" class="alert @TempData["AlertType"] hide">
                                @TempData["AlertMessage"]
                            </div>
                        }
                    </div>
                    <div>

                        @using (Html.BeginForm("TTDK", "KetQuaHienMau", new { @enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="panel-body" style="font-weight: bold; text-align: center; color: red">
                                @if (@ViewBag.ThongBao != null)
                                {
                                    <label>@ViewBag.ThongBao </label>
                                }
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-8">
                                    <form action="#">
                                        <table class="mt-10">
                                            <tr>
                                                <th style="width:400px">
                                                    <div>
                                                        <label>Mã người dùng</label>
                                                        @Html.EditorFor(model => model.IdTTCN, new { htmlAttributes = new { @class = "single-input", @readonly = "readonly" } })
                                                    </div>
                                                </th>
                                                <th class="col-lg-6">
                                                    <div>
                                                        <label>Mã phiếu đăng ký</label>
                                                        @Html.EditorFor(model => model.idPDKHM, new { htmlAttributes = new { @class = "single-input", @readonly = "readonly" } })
                                                    </div>
                                                </th>
                                            </tr>
                                        </table>
                                        <table class="mt-10">
                                            <tr>
                                                <th style="width:400px">
                                                    <div>
                                                        <label>Họ và tên</label>
                                                        @Html.EditorFor(model => model.hoTen, new { htmlAttributes = new { @class = "single-input", @readonly = "readonly" } })
                                                    </div>
                                                </th>
                                                <th class="col-lg-6">
                                                    <div>
                                                        <label>số điện thoại </label>
                                                        @Html.EditorFor(model => model.soDT, new { htmlAttributes = new { @class = "single-input", @readonly = "readonly" } })
                                                    </div>
                                                </th>
                                            </tr>
                                        </table>
                                        <table class="mt-10">
                                            <tr>
                                                <th style="width:400px">
                                                    <div>
                                                        <label>Giới tính </label>

                                                        @Html.DropDownListFor(model => model.gioiTinh, new[] { new SelectListItem { Text = "Nam", Value = "true" }, new SelectListItem { Text = "Nữ", Value = "false" } },
                                                       new { @class = "single-input", @disabled = "disabled" })

                                                    </div>
                                                </th>
                                                <th class="col-lg-6">
                                                    <label>Ngày sinh </label>
                                                    @Html.EditorFor(model => model.ngaySinh, new { htmlAttributes = new { @class = "single-input", @readonly = "readonly" } })
                                                </th>
                                            </tr>
                                        </table>
                                        <table class="mt-10">
                                            <tr>
                                                <th style="width:400px">
                                                    <div>
                                                        <label>Lần hiến máu </label>
                                                        @Html.EditorFor(model => model.soLanHM, new { htmlAttributes = new { @class = "single-input", @readonly = "readonly" } })
                                                    </div>
                                                </th>
                                                <th class="col-lg-6">
                                                    <div>
                                                        <label>Nhóm máu </label>
                                                        @Html.EditorFor(model => model.nhomMau, new { htmlAttributes = new { @class = "single-input", @readonly = "readonly" } })
                                                    </div>
                                                </th>
                                            </tr>
                                        </table>
                                        <table class="mt-10">
                                            <tr>
                                                <th style="width:400px">
                                                    <label>Trình độ học vấn </label>
                                                    @Html.EditorFor(model => model.trinhDo, new { htmlAttributes = new { @class = "single-input", @readonly = "readonly" } })
                                                </th>
                                                <th class="col-lg-6">
                                                    <label>Nghề nghiệp </label>
                                                    @Html.EditorFor(model => model.ngheNghiep, new { htmlAttributes = new { @class = "single-input", @readonly = "readonly" } })
                                                </th>
                                            </tr>
                                        </table>
                                        <table class="mt-10">
                                            <tr>
                                                <th style="width:400px">
                                                    <label>Cơ quan / Trường lớp </label>
                                                    @Html.EditorFor(model => model.coQuanTH, new { htmlAttributes = new { @class = "single-input", @readonly = "readonly" } })
                                                </th>
                                                <th class="col-lg-6">
                                                    <label>Địa chỉ tạm trú</label>
                                                    @Html.EditorFor(model => model.diaChi, new { htmlAttributes = new { @class = "single-input", @readonly = "readonly" } })
                                                </th>
                                            </tr>
                                        </table>
                                    </form>

                                    <h3 class="mb-10" style="margin-top:20px">Kết quả hiến máu</h3>
                                    <hr />
                                    <form action="#">
                                        <table class="mt-10">
                                            <tr>
                                                <th style="width:400px">
                                                    <div>
                                                        <label>Mã kết quả</label>
                                                        @Html.EditorFor(model => model.IdKQHM, new { htmlAttributes = new { @class = "single-input", @readonly = "readonly" } })
                                                    </div>
                                                </th>
                                                <th class="col-lg-6">
                                                    <div>
                                                        <label>cân nặng</label>
                                                        @Html.EditorFor(model => model.canNang, new { htmlAttributes = new { @class = "single-input", @readonly = "readonly" } })
                                                    </div>
                                                </th>
                                            </tr>
                                        </table>
                                        <table class="mt-10">
                                            <tr>
                                                <th style="width:400px">
                                                    <div>
                                                        <label>Huyết áp</label>
                                                        @Html.EditorFor(model => model.huyetAp, new { htmlAttributes = new { @class = "single-input", @readonly = "readonly" } })
                                                    </div>
                                                </th>
                                                <th class="col-lg-6">
                                                    <div>
                                                        <label>Mạch máu </label>
                                                        @Html.EditorFor(model => model.machMau, new { htmlAttributes = new { @class = "single-input", @readonly = "readonly" } })
                                                    </div>
                                                </th>
                                            </tr>
                                        </table>
                                        <table class="mt-10">
                                            <tr>
                                                <th style="width:400px">
                                                    <div>
                                                        <label>Tình trạng lâm sàn</label>

                                                        @Html.EditorFor(model => model.tinhTrangLS, new { htmlAttributes = new { @class = "single-input", @readonly = "readonly" } })

                                                    </div>
                                                </th>
                                                <th class="col-lg-6">
                                                    <label>Thể tích (ml) </label>
                                                    @Html.EditorFor(model => model.luongMauHien, new { htmlAttributes = new { @class = "single-input", @readonly = "readonly" } })
                                                </th>
                                            </tr>
                                        </table>
                                        <table class="mt-10">
                                            <tr>
                                                <th style="width:400px">
                                                    <div>
                                                        <label>Hiến máu </label>

                                                        @Html.DropDownListFor(model => model.hienMau, new[] { new SelectListItem { Text = "Đạt", Value = "true" }, new SelectListItem { Text = "không đạt", Value = "false" } },
                                                       new { @class = "single-input", @disabled = "disabled" })
                                                    </div>
                                                </th>
                                                <th class="col-lg-6">
                                                    <div>
                                                        <label>Lý do  </label>
                                                        @Html.EditorFor(model => model.ghiChu, new { htmlAttributes = new { @class = "single-input", @readonly = "readonly" } })
                                                    </div>
                                                </th>
                                            </tr>
                                        </table>
                                        <table class="mt-10">
                                            <tr>
                                                <th style="width:400px">
                                                    <label>
                                                        Xét nghiệm huyết sắc tố
                                                    </label>
                                                    @Html.EditorFor(model => model.HST, new { htmlAttributes = new { @class = "single-input", @readonly = "readonly" } })
                                                </th>
                                                <th class="col-lg-6">
                                                    <label>
                                                        Xét nghiệm huyết sắc tố
                                                    </label>
                                                    @Html.EditorFor(model => model.HBV, new { htmlAttributes = new { @class = "single-input", @readonly = "readonly" } })
                                                </th>
                                            </tr>
                                        </table>
                                        <table class="mt-10">
                                            <tr>
                                                <th style="width:400px">
                                                    <label>Người xét nghiệm </label>
                                                    @Html.EditorFor(model => model.nguoiXN, new { htmlAttributes = new { @class = "single-input", @readonly = "readonly" } })
                                                </th>
                                                <th class="col-lg-6">
                                                </th>
                                            </tr>
                                        </table>

                                        <table class="mt-10">
                                            <tr>
                                                <th style="width:400px">
                                                    <label>
                                                        Xét nghiệm máu
                                                    </label>
                                                    @Html.EditorFor(model => model.MSD, new { htmlAttributes = new { @class = "single-input", @readonly = "readonly" } })
                                                </th>
                                                <th class="col-lg-6">
                                                    <label>
                                                        Thời gian lấy máu
                                                    </label>
                                                    @Html.EditorFor(model => model.thoiGianLayMau, new { htmlAttributes = new { @class = "single-input", @readonly = "readonly" } })
                                                </th>
                                            </tr>
                                        </table>
                                        <table class="mt-10">
                                            <tr>
                                                <th style="width:400px">
                                                    <label>
                                                        Phản ứng
                                                    </label>
                                                    @Html.EditorFor(model => model.phanUng, new { htmlAttributes = new { @class = "single-input", @readonly = "readonly" } })
                                                </th>
                                                <th class="col-lg-6">
                                                    <label>
                                                        Xử lý
                                                    </label>
                                                    @Html.EditorFor(model => model.noiDung, new { htmlAttributes = new { @class = "single-input", @readonly = "readonly" } })
                                                </th>
                                            </tr>
                                        </table>
                                        <table class="mt-10">
                                            <tr>
                                                <th style="width:400px">
                                                    <label>
                                                        Nhóm máu
                                                    </label>
                                                    @Html.EditorFor(model => model.nhomMau, new { htmlAttributes = new { @class = "single-input", @readonly = "readonly" } })
                                                </th>
                                                <th class="col-lg-6">
                                                    <label>
                                                        Người lấy máu
                                                    </label>
                                                    @Html.EditorFor(model => model.nguoiLayMau, new { htmlAttributes = new { @class = "single-input", @readonly = "readonly" } })
                                                </th>
                                            </tr>
                                        </table>
                                        <table class="mt-10">
                                            <tr>
                                                <th style="width:400px">
                                                    <label>
                                                        Trạng thái
                                                    </label>
                                                    @Html.EditorFor(model => model.trangThai2, new { htmlAttributes = new { @class = "single-input", @readonly = "readonly" } })
                                                </th>
                                                <th class="col-lg-6">
                                                    <label>

                                                    </label>
                                                </th>
                                            </tr>
                                        </table>
                                    </form>

                                    <div class="text-center" style="margin-top:20px">
                                        <a href="@Url.Action("Index", "MaQR", new { id = Model.IdTTCN })  " class="genric-btn primary-border radius">Tạo mã QR</a>
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="whole-wrap">
    <div class="container box_1170">
        <div class="section-top-border">
            <div class="row ">
                <div class="col-lg-12 col-md-12 ">
                    <label class="col-md-9">
                        <h3>Nội dung</h3>
                    </label>
                    <label class="col-md-1 align-items-center">
                        <h3>Có </h3>
                    </label>
                    <label class="">
                        <h3> Không </h3>
                    </label>
                    <form action="#">
                        <hr>
                        <div class="form-group">
                            <label class="col-md-9 ">
                                <p>
                                    <b style="color:rgb(0, 0, 0);"> 1/ Trước đây quý vị đã từng hiến máu chưa ?</b>
                                </p>
                            </label>

                            <label class="col-lg-1">
                                @Html.RadioButtonFor(expression: model => model.hienMau2, value: true)

                            </label>
                            <label class="col-md-1">
                                @Html.RadioButtonFor(expression: model => model.hienMau2, value: false)

                            </label>

                        </div>

                        <div class="form-group">
                            <label class="col-md-9 ">
                                <p>
                                    <b style="color:rgb(0, 0, 0);">2/ Từ nhỏ quý vị có bị các bệnh mãn tính:</b> Thấp
                                    khớp,
                                    chảy máu tiêu hóa, viêm gan vàng da, bệnh tiêm, huyết áp thấp/cao,
                                    bệnh thận, ho kéo dài, lao, ung thư...?
                                </p>
                            </label>
                            <label class="col-lg-1">
                                @Html.RadioButtonFor(expression: model => model.ungThu, value: true)



                            </label>
                            <label class="col-md-1">
                                @Html.RadioButtonFor(expression: model => model.ungThu, value: false)
                            </label>
                        </div>

                        <div>
                            <label class="col-md-9 ">
                                <p>
                                    <b style="color:rgb(0, 0, 0);">3/ Trong vòng 6 tháng gần đây, quý vị có: </b>
                                </p>
                            </label>
                        </div>

                        <div>
                            <label class="col-md-9 mt-10">
                                <p> Sút cân > 4 kg không rõ nguyên nhân ?</p>
                            </label>

                            <label class="col-lg-1">
                                @Html.RadioButtonFor(expression: model => model.sutCan, value: true)

                            </label>
                            <label class="col-md-1">
                                @Html.RadioButtonFor(expression: model => model.sutCan, value: false)

                            </label>
                        </div>

                        <div>
                            <label class="col-md-9 mt-10">
                                <p> Nổi hạch kéo dài?</p>
                            </label>
                            <label class="col-lg-1">
                                @Html.RadioButtonFor(expression: model => model.noiHach, value: true)

                            </label>
                            <label class="col-md-1">
                                @Html.RadioButtonFor(expression: model => model.noiHach, value: false)

                            </label>
                        </div>

                        <div>
                            <label class="col-md-9 mt-10">
                                <p> Xăm mình, xỏ lỗi qua da (tai, mũi...)</p>
                            </label>
                            <label class="col-lg-1">
                                @Html.RadioButtonFor(expression: model => model.xamMinh, value: true)

                            </label>
                            <label class="col-md-1">
                                @Html.RadioButtonFor(expression: model => model.xamMinh, value: false)

                            </label>
                        </div>

                        <div>
                            <label class="col-md-9 mt-10">
                                <p> Được truyền máu hay chế phẩm máu</p>
                            </label>
                            <label class="col-lg-1">
                                @Html.RadioButtonFor(expression: model => model.duocTruyenMau, value: true)

                            </label>
                            <label class="col-md-1">
                                @Html.RadioButtonFor(expression: model => model.duocTruyenMau, value: false)
                            </label>
                        </div>

                        <div>
                            <label class="col-md-9 mt-10">
                                <p> Sử dụng ma túy, tiêm chích</p>
                            </label>
                            <label class="col-lg-1">
                                @Html.RadioButtonFor(expression: model => model.suDungMatuy, value: true)
                            </label>
                            <label class="col-md-1">
                                @Html.RadioButtonFor(expression: model => model.suDungMatuy, value: false)
                            </label>
                        </div>

                        <div>
                            <label class="col-md-9 mt-10">
                                <p>
                                    Quan hệ thân mật với người nhiễm HIV hoặc có nguy cơ cao lây qua đường lây nhiễm
                                    HIV
                                </p>
                            </label>
                            <label class="col-lg-1">
                                @Html.RadioButtonFor(expression: model => model.QHTD, value: true)
                            </label>
                            <label class="col-md-1">
                                @Html.RadioButtonFor(expression: model => model.QHTD, value: false)
                            </label>
                        </div>

                        <div>
                            <label class="col-md-9 mt-10">
                                  Tiêm Vacxin phòng bệnh ? 
                            </label>
                            <label class="col-lg-1">
                                @Html.RadioButtonFor(expression: model => model.tiemVacXin, value: true)
                            </label>
                            <label class="col-md-1">
                                @Html.RadioButtonFor(expression: model => model.tiemVacXin, value: false)
                            </label>
                        </div>

                        <div>
                            <label class="col-md-9 mt-10">
                                <p> Sống trong vùng có dịch lưu hành (sốt rét, covid19...)?</p>
                            </label>
                            <label class="col-lg-1">
                                @Html.RadioButtonFor(expression: model => model.NguyCoHIV, value: true)
                            </label>
                            <label class="col-md-1">
                                @Html.RadioButtonFor(expression: model => model.NguyCoHIV, value: false)
                            </label>
                        </div>

                        <div>
                            <label class="col-md-9 ">
                                <p><b style="color:rgb(0, 0, 0);">4/ Trong vòng 1 tuần gần đây, quý vị có: </b> </p>
                            </label>
                        </div>

                        <div>
                            <label class="col-md-9 mt-10">
                                <p> Bị cúm, ho, nhứt đầu, sốt..... </p>
                            </label>
                            <label class="col-lg-1">

                                @Html.RadioButtonFor(expression: model => model.biSot, value: true)

                            </label>
                            <label class="col-md-1">
                                @Html.RadioButtonFor(expression: model => model.biSot, value: false)
                            </label>
                        </div>

                        <div>
                            <label class="col-md-9 mt-10">
                                <p> Dùng thuốc kháng sinh, ASPIRIN, CORTICOID...?</p>
                            </label>
                            <label class="col-lg-1">
                                @Html.RadioButtonFor(expression: model => model.dungTKS, value: true)
                            </label>
                            <label class="col-md-1">
                                @Html.RadioButtonFor(expression: model => model.dungTKS, value: false)
                            </label>
                        </div>

                        <div>
                            <label class="col-md-9 mt-10">
                                <p> Đến khám bác sĩ, làm xét nghiệm, chữa răng ?</p>
                            </label>
                            <label class="col-lg-1">
                                @Html.RadioButtonFor(expression: model => model.chamCu, value: true)
                            </label>
                            <label class="col-md-1">
                                @Html.RadioButtonFor(expression: model => model.chamCu, value: false)
                            </label>
                        </div>

                        <div class="form-group" style="margin-top:10px">
                            <label class="col-md-9 ">
                                <p>
                                    <b style="color:rgb(0, 0, 0);">
                                        5/ Quý vị hiện là đối tượng tàn tật hoặc hưởng trợ
                                        cấp tàn tật, nạn nhân chất độc màu da cam không?
                                    </b>
                                </p>
                            </label>
                            <label class="col-lg-1">
                                @Html.RadioButtonFor(expression: model => model.dTTT, value: true)
                            </label>
                            <label class="col-md-1">
                                @Html.RadioButtonFor(expression: model => model.dTTT, value: false)
                            </label>
                        </div>


                        <div class="form-group">
                            <label class="col-md-9 ">
                                <p>
                                    <b style="color:rgb(0, 0, 0);"> 6/ Câu hỏi dành cho phụ nữ : </b>Chị hiện có thai
                                    hoặc nuôi con dưới 12 tháng tuổi?
                                </p>
                            </label>
                            <label class="col-lg-1">
                                @Html.RadioButtonFor(expression: model => model.dangMangThai, value: true)
                            </label>
                            <label class="col-md-1">
                                @Html.RadioButtonFor(expression: model => model.dangMangThai, value: false)
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-9 ">
                                <p>
                                    <b style="color:rgb(0, 0, 0);"> 7/ Bệnh khác : </b>
                                </p>
                                @Html.EditorFor(model => model.benhKhac, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ghi rõ nếu có", @readonly = "readonly" } })

                            </label>
                            <label class="col-lg-1">
                                
                            </label>
                            <label class="col-md-1">
                                
                            </label>
                        </div>
                        <hr>
                        <div>
                            <label class="col-md-9 ">
                                <p>
                                    Tôi đã đọc, hiểu và trả lời trung thực những câu hỏi trên. Nếu tôi phát hiệt bất
                                    cứ thông tin gì liên quan tới an toànn cho đơn vị máu tôi đã hiến,
                                    tôi sẽ liên hệ ngày với Quý Bệnh Viện để đảm bảo an toàn cho người nhận máu của
                                    tôi.
                                    Hôm nay tôi hoàn toàn khỏe mạnh và sẵn sagnf tham gia hiến máu tình nguyện.
                                </p>
                            </label>
                            <label class="col-md-0">
                                
                            </label>
                            <label class="col-md-2 text-center">
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <div class="checkbox">
                                            @Html.DisplayFor(model => model.xacNhan)
                                            @Html.ValidationMessageFor(model => model.xacNhan, "", new { @class = "text-danger" })
                                        </div>
                                        <div>
                                            <h6>Tôi đồng ý</h6>
                                        </div>
                                    </div>
                                </div>

                            </label>
                        </div>
                    </form>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>


<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
    