

<div class="blog_right_sidebar">
    @{
        var session = (HiemMauNhanDao.Common.UserLogin)Session[HiemMauNhanDao.Common.CommonConstant.USER_SESSION];
    }
    @if (session.AuthorID == "Q03")
    {<aside class="single_sidebar_widget post_category_widget">
            <h4 class="widget_title">Đơn vị</h4>
            <ul class="list cat-list">

                <li>
                    <a href="@Url.Action("CapnhatTTDV","DVLK")" class="d-flex">
                        <p>Cập nhật thông đơn vị</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex">
                        <p>Đăng bài</p>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("EditKQHM","NhanVienYTe")" class="d-flex">
                        <p>Danh sách đăng ký</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex">
                        <p>Xác nhận yêu cầu</p>
                    </a>
                </li>
            </ul>
        </aside>
        <aside class="single_sidebar_widget post_category_widget">
            <h4 class="widget_title">Cá nhân</h4>
            <ul class="list cat-list">
                <li>
                    <a href="@Url.Action("Index","NguoiDung")" class="d-flex">
                        <p>Cập nhật thông tin</p>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("TTSK","NguoiDung")" class="d-flex">
                        <p>Xem lịch sử</p>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("TTSK","NguoiDung")" class="d-flex">
                        <p>Xem tình trạng sức khỏe</p>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("DoiMK","NguoiDung")" class="d-flex">
                        <p>Đổi mật khẩu</p>
                    </a>
                </li>
            </ul>
        </aside>
    }
    @if (session.AuthorID == "Q04")
    {
        <aside class="single_sidebar_widget post_category_widget">
            <h4 class="widget_title">Bệnh viện</h4>
            <ul class="list cat-list">
                <li>
                    <a href="@Url.Action("EditBV","NhanVienYTe")" class="d-flex">
                        <p>Cập nhật thông đơn vị</p>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index","NhanVienYTe") " class="d-flex">
                        <p>Cập nhật nhân viên</p>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("DangKyDHM","NhanVienYTe")" class="d-flex">
                        <p>Đăng ký đợt hiến máu</p>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("DangBai","NhanVienYTe") " class="d-flex">
                        <p>Đăng bài</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex">
                        <p>Xác nhận yêu cầu</p>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("EditKQHM","NhanVienYTe")  " class="d-flex">
                        <p>Cập nhật Kết quả hiến máu</p>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index","NguoiDung")" class="d-flex">
                        <p>Cập nhật thông tin cá nhân</p>
                    </a>
                </li>
            </ul>
        </aside>
    }
    @if (session.AuthorID == "Q05")
    {
        <aside class="single_sidebar_widget post_category_widget">
            <h4 class="widget_title">Nhân viên y tế</h4>
            <ul class="list cat-list">
                <li>
                    <a href="@Url.Action("EditKQHM","NhanVienYTe")" class="d-flex">
                        <p>Cập nhật Kết quả hiến máu</p>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("XemNV","NhanVienYTe")" class="d-flex">
                        <p>Xem nhiệm vụ</p>
                    </a>
                </li>

            </ul>
        </aside>
        <aside class="single_sidebar_widget post_category_widget">
            <h4 class="widget_title">Cá nhân</h4>
            <ul class="list cat-list">
                <li>
                    <a href="@Url.Action("Index","NguoiDung")" class="d-flex">
                        <p>Cập nhật thông tin</p>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("TTSK","NguoiDung")" class="d-flex">
                        <p>Xem lịch sử</p>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("TTSK","NguoiDung")" class="d-flex">
                        <p>Xem tình trạng sức khỏe</p>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("DoiMK","NguoiDung")" class="d-flex">
                        <p>Đổi mật khẩu</p>
                    </a>
                </li>
            </ul>
        </aside>
    }
    @if (session.AuthorID == "Q06")
    {
        <aside class="single_sidebar_widget post_category_widget">
            <h4 class="widget_title">Cá nhân</h4>
            <ul class="list cat-list">
                <li>
                    <a href="@Url.Action("Index","NguoiDung")" class="d-flex">
                        <p>Cập nhật thông tin</p>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("TTSK","NguoiDung")" class="d-flex">
                        <p>Xem lịch sử</p>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("TTSK","NguoiDung")" class="d-flex">
                        <p>Xem tình trạng sức khỏe</p>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("DoiMK","NguoiDung")" class="d-flex">
                        <p>Đổi mật khẩu</p>
                    </a>
                </li>
            </ul>
        </aside>
        <aside class="single_sidebar_widget post_category_widget">
            <h4 class="widget_title">Liên kết</h4>
            <ul class="list cat-list">
                <li>
                    <a href="@Url.Action("DKDVLK","DVLK")" class="d-flex">
                        <p>Đơn vị liên kết</p>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("LienKetNV","NhanVienYTe")" class="d-flex">
                        <p>Nhân viên bệnh viên</p>
                    </a>
                </li>
            </ul>
        </aside>
    }
</div>

