@model Models.EF.BenhVien

@{
    ViewBag.Title = "EditBV";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}

<section class="breadcrumb_part breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Thông tin bệnh viện</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="blog_area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">Bệnh viện</h4>
                        <ul class="list cat-list">
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Cập nhật thông đơn vị</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Tạo tài khoản NV</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Đăng ký đợt hiến máu</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Đăng bài</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Xác nhận yêu cầu</p>
                                </a>
                            </li>
                            <li>
                                <a href="/Client/NhanVienYTe/Index" class="d-flex">
                                    <p>Cập nhật Kết quả hiến máu</p>
                                </a>
                            </li>

                        </ul>
                    </aside>

                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">Cá nhân</h4>
                        <ul class="list cat-list">
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Xem lịch sử</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Tình trạng sức khỏe</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Đổi mật khẩu</p>
                                </a>
                            </li>
                        </ul>
                    </aside>
                </div>
            </div>

            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    <div class="section-top-border">
                        <div class="row">
                            <div class="col-lg-12 col-md-8">
                                <h3 class="mb-30">Vui lòng điền đầy đủ thông tin</h3>
                                <form action="#">
                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()
                                        <table class="mt-10">
                                            <th style="width:400px">
                                                <div>
                                                    @Html.ValidationSummary(true, "", new { @class = "form-control" })
                                                    @Html.HiddenFor(model => model.IdBenhVien)


                                                </div>
                                            </th>
                                            <th class="col-lg-6">
                                                <div>
                                                    @Html.EditorFor(model => model.TenBenhVien, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.TenBenhVien, "", new { @class = "text-danger" })
                                                </div>
                                            </th>
                                        </table>
                                        <table class="mt-10">
                                            <th style="width:400px">
                                                <div>
                                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                                </div>
                                            </th>
                                            <th class="col-lg-6">
                                                <div>
                                                    @Html.EditorFor(model => model.soDTBV, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.soDTBV, "", new { @class = "text-danger" })
                                                </div>
                                            </th>
                                        </table>
                                        <div class="mt-10">
                                            <input type="email" name="EMAIL" placeholder=" Địa chỉ tạm trú"
                                                   onfocus="this.placeholder = ''" onblur="this.placeholder = ' Địa chỉ '" required
                                                   class="single-input">
                                        </div>

                                        <div class="mt-10">
                                            <input type="file" name="file" placeholder="Minh chứng"
                                                   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Minh chứng'" required
                                                   class="single-input">
                                        </div>
                                    }
                                </form>
                            </div>
                        </div>
                        <div class="text-center " style="margin-top:20px">
                            <a class="genric-btn primary-border radius" href="#">Cập nhật</a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
</section>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
