@using PagedList;
@using PagedList.Mvc
@model PagedList.IPagedList<Models.EF.DotHienMau>
@{
    ViewBag.Title = "Đăng ký tổ chức đợt hiến máu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listDHM = (List<Models.EF.DotHienMau>)ViewBag.listDHM;
}


<section class="breadcrumb_part breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Tổ chức hiến máu</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@using (Html.BeginForm("Index", "DKDHM", FormMethod.Get))
{
    <section class="blog_area section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        @foreach (var item in listDHM)
                        {
                            if (item.tgKetThuc < DateTime.Now)
                            {
                                <article class="blog_item">
                                    <div class="blog_item_img">
                                        <img class="card-img rounded-0" src="~/Assets/client/img/blog/single_blog_10.png" alt="">
                                        <a class="blog_item_date">
                                            <h3>      @Html.DisplayFor(model => item.tgBatDau)</h3>
                                        </a>
                                    </div>
                                    <div class="blog_details">
                                        <table>
                                            <tr>
                                                <th>
                                                    <a href="@Url.Action("DKTC", "DkDHM", new { id = item.IdDHM })">@item.TenDHM</a>
                                                
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <a>@item.noiDung</a>
                                                </th>

                                            </tr>
                                        </table>
                                        <table>
                                            <tr>
                                                <th>
                                                    <a>Thời gian triển khai:</a>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <a>Từ ngày:  @Html.DisplayFor(model => item.tgBatDau)</a>
                                                </th>
                                                <th>
                                                    <a>- Đến ngày: @Html.DisplayFor(model => item.tgKetThuc) </a>
                                                </th>
                                            </tr>
                                        </table>
                                        <ul class="blog-info-link" style="margin-top:10px">
                                            <li>
                                                <button class="genric-btn danger radius">Hết hạn đăng ký</button>
                                            </li>                                            
                                        </ul>
                                    </div>
                                </article>
                            }
                            else
                            {
                                <article class="blog_item">
                                    <div class="blog_item_img">
                                        <img class="card-img rounded-0" src="~/Assets/client/img/blog/single_blog_10.png" alt="">
                                        <a class="blog_item_date">
                                            <h3>      @Html.DisplayFor(model => item.tgBatDau)</h3>
                                        </a>
                                    </div>
                                    <div class="blog_details">
                                        <table>
                                            <tr>
                                                <th>
                                                    <a href="@Url.Action("DKTC", "DkDHM")  ">@item.TenDHM</a>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <a>@item.noiDung</a>
                                                </th>

                                            </tr>
                                        </table>
                                        <table>
                                            <tr>
                                                <th>
                                                    <a>Thời gian triển khai:</a>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <a>Từ ngày:  @Html.DisplayFor(model => item.tgBatDau)</a>
                                                </th>
                                                <th>
                                                    <a>- Đến ngày: @Html.DisplayFor(model => item.tgKetThuc) </a>
                                                </th>
                                            </tr>
                                        </table>

                                        <ul class="blog-info-link" style="margin-top:10px">
                                            @{
                                                var session5 = (HiemMauNhanDao.Common.UserLogin)Session[HiemMauNhanDao.Common.CommonConstant.USER_SESSION];
                                            }
                                            @if (session5 == null)
                                            {
                                                <li><button class="genric-btn warning" href="@Url.Action("Index", "LoginClient") ">Hãy đăng nhập</button></li>
                                            }
                                            else if (session5.AuthorID == "Q04")
                                            {
                                                <li>
                                                    <button class="genric-btn primary radius" href="@Url.Action( "Create", "chiTietDHM") ">Đăng ký</button>
                                                </li>
                                                @*@Html.ActionLink("Đăng ký", "Create", "chiTietDHM", new { id = item.IdDHM, @class = "genric-btn info radius" }, null)*@
                                            }
                                            else if (session5.AuthorID == "Q03")
                                            {
                                                <li>
                                                    <button class="genric-btn primary radius" href="@Url.Action( "Create2", "chiTietDHM") ">Đăng ký</button>
                                                </li>
                                                @*@Html.ActionLink("Đăng ký", "Create2", "chiTietDHM", new { id = item.IdDHM, @class = "genric-btn info radius" }, null)*@
                                            }
                                            else
                                            {
                                                <li>
                                                    <button class="genric-btn info radius" href="@Url.Action("NotFound", "LoginClient")">Không có quyền đăng ký</button>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </article>
                            }


                        }
                    </div>
                    <ul class="pagination">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString, @class = "page-item" }))
                    </ul>

                </div>

                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <form action="#">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input value="@ViewBag.SearchString" type="text" class="form-control" placeholder='Nhập nội dung'
                                               onfocus="this.placeholder = ''"
                                               onblur="this.placeholder = 'Nhập nội dung'">
                                        <div class="input-group-append">
                                            <button class="btn" type="button"><i class="ti-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1"
                                        type="submit">
                                    Tìm kiếm
                                </button>
                            </form>
                        </aside>
                        @RenderPage("_RightMenu.cshtml")

                    </div>
                </div>
            </div>

        </div>
    </section>
}