@model Models.ViewModel.NhanVienvaDVLKView

@{
    ViewBag.Title = "Thông tin đơn vị";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<h2>Thông tin Đơn vị liên kết</h2>
<div class="card-body">
    <hr />
    <div class="dl-horizontal">
        <div class="row">
            <div class="col-md-6">
                <dl class="dl-horizontal">
                    <dt>
                        Mã mã người dùng
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IdTTCN)
                    </dd>
                    <dt>
                        Tên người đăng ký
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.hoTen)
                    </dd>
                    <dt>
                        CCCD
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CCCD)
                    </dd>
                    <dt>
                        Quyền
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.idQuyen)
                    </dd>
                    <dt>
                        Mã đơn vị
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IdDVLK)
                    </dd>
                    <dt>
                        Tên đơn vị
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.TenDonVi)
                    </dd>
                    <dt>
                        Email
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt>
                        Số điện thoại đơn vị
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.soDT)
                    </dd>
                    <dt>
                        Địa chỉ
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.diaChi)
                    </dd>
                    <dt>
                        Trạng thái
                    </dt>
                    <dd>
                        @*@Html.DisplayFor(model => model.Status)*@
                        @Html.DropDownListFor(modelItem => modelItem.trangThai, new[] {
                       new SelectListItem { Text = "Hoạt động", Value = "True" },
                       new SelectListItem { Text = "Không hoạt động", Value = "False" } },
                       new { @disabled = "disabled" })
                    </dd>
                </dl>
            </div>
            <div class="col-md-6">
                <dl class="dl-horizontal">
                    <dt>
                        Minh chứng
                    </dt>
                    <dd>
                        <ul>
                            <li> <img style="width:500px;height: 600px ; object-fit: cover" src="~/FileUpLoad/dvlk/@Model.minhChung" /></li>
                            <li> @Html.DisplayFor(model => model.minhChung) </li>
                        </ul>
                    </dd>
                    @Html.ActionLink("Download", "Download", new { fileName = @Model.minhChung })
                    <lable>Tải file về để xem rõ hơn</lable>
                </dl>
            </div>
        </div>

    </div>
    <button class="mb-2 mr-2 btn-transition btn btn-success">
        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.IdDVLK })
    </button>
    <ul></ul>
    <button class="mb-2 mr-2 btn-transition btn btn-outline-info">
        @Html.ActionLink("Quay lại danh sách", "Index", new { @class = "mb-2 mr-2 btn btn-success" })
    </button>
</div>

