@model Models.EF.ThongTinCaNhan

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ThongTinCaNhan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã người dùng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdTTCN)
        </dd>
        <dt>
            Quyền hạn
        </dt>

        <dd>
            @Html.DropDownList("IdQuyen", ViewBag.IdQuyen as SelectList, htmlAttributes: new { @class = "form-control" })
        </dd>
        <dt>
            Tên người đăng ký
        </dt>
        <dd>
            @Html.DisplayFor(model => model.hoTen)
        </dd>
        <dt>
            Tài khoản
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userName)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CCCD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CCCD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaySinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaySinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gioiTinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gioiTinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngheNghiep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngheNghiep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trinhDo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trinhDo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soLanHM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soLanHM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.coQuanTH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.coQuanTH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nhomMau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nhomMau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trangThai)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
