
@{
    ViewBag.Title = "Cập nhật kết quả";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="breadcrumb_part breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Cập nhật kết quả </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->
<!--================Blog Area =================-->
<section class="blog_area section_padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-4">
                @RenderPage("_leftMenu2.cshtml")
            </div>

            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="col-lg-12 col-md-8">
                    <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
                        <li class="nav-item">
                            <a role="tab" class="genric-btn info-border radius" id="tab-0" data-toggle="tab"
                               href="#tab-content-0">
                                <h3>Khám lâm sàng</h3>
                            </a>
                        </li>
                        <li class="nav-item" style="margin-left:20px; margin-right:20px">
                            <a role="tab" class="genric-btn info-border radius" data-toggle="tab" href="#tab-content-1">
                                <h3>Xét nghiệm trước HM</h3>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a role="tab" class="genric-btn info-border radius" id="tab-2" data-toggle="tab" href="#tab-content-2">
                                <h3>Lấy máu</h3>
                            </a>
                        </li>
                    </ul>

                    <hr>

                    <div class="tab-content">
                        <!--================tab1 =================-->
                        <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
                            <form action="#">
                                <table class="mt-10">
                                    <tr>
                                        <th style="width:400px">
                                            <div>
                                                <input type="text" name="first_name" placeholder="Cân nặng (kg)"
                                                       onfocus="this.placeholder = ''" onblur="this.placeholder = 'Cân nặng'" required
                                                       class="single-input">
                                            </div>
                                        </th>
                                        <th class="col-lg-6">
                                            <div>
                                                <input type="text" name="last_name" placeholder="Mạch máu (lần / phút)"
                                                       onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mạch '" required
                                                       class="single-input">
                                            </div>
                                        </th>
                                    </tr>
                                </table>
                                <table class="mt-10">
                                    <tr>
                                        <th style="width:400px">
                                            <div>
                                                <input type="text" name="first_name" placeholder="Huyết áp (mm/Hg)"
                                                       onfocus="this.placeholder = ''" onblur="this.placeholder = 'Huyết áp'"
                                                       required class="single-input">
                                            </div>
                                        </th>
                                        <th class="col-lg-6">
                                            <div>
                                                <input type="text" name="first_name" placeholder="Tình trạng lâm sàn"
                                                       onfocus="this.placeholder = ''" onblur="this.placeholder = 'Tình trạng lâm sàn'"
                                                       required class="single-input">
                                            </div>
                                        </th>
                                    </tr>

                                </table>
                                <table class="mt-10">
                                    <tr>
                                        <th style="width:400px">
                                            <p>
                                                <b style="color:rgb(0, 0, 0);">Hiến máu        </b>
                                            </p>
                                        </th>
                                        <th style="width:400px">
                                            <div class="primary-checkbox" style="margin-top:5px ;">
                                                <input type="checkbox" id="primary-checkbox" checked="">
                                                <label for="primary-checkbox"></label>
                                            </div>
                                        </th>
                                        <th class="col-lg-6">
                                            <div>
                                                <input type="text" name="first_name" placeholder="Lý do không hiến máu được"
                                                       onfocus="this.placeholder = ''" onblur="this.placeholder = 'Lý do không hiến máu được'"
                                                       required class="single-input">
                                            </div>
                                        </th>
                                    </tr>


                                </table>

                                <table class="mt-10">
                                    <tr>
                                        <th style="width:400px">
                                            <p>
                                                <b style="color:rgb(0, 0, 0);">Thể tích (ml)         </b>
                                            </p>
                                        </th>

                                        <th style="width:400px">

                                            <input class="primary-radio" type="radio" name="r1" style="height: 16px; width: 16px;vertical-align: middle" value="250"> 250

                                        </th>
                                        <th style="width:400px">

                                            <input class="primary-radio" type="radio" name="r1" style="height: 16px; width: 16px;vertical-align: middle" value="350"> 350

                                        </th>
                                        <th class="col-lg-6">
                                            @*<div>
                                                <input type="text" name="first_name" placeholder="Lý do không hiến máu được"
                                                       onfocus="this.placeholder = ''" onblur="this.placeholder = 'Lý do không hiến máu được'"
                                                       required class="single-input">
                                            </div>*@
                                        </th>
                                    </tr>


                                </table>


                                <table class="mt-10">
                                    <tr>
                                        <th style="width:400px">

                                            <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                                            <div class="form-select" id="default-select_1">
                                                <select>
                                                    <option value="">Người khám  </option>
                                                    <option>Võ Lập</option>
                                                    <option>Quang Nhã</option>
                                                    <option>Ngọc Huy</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                </select>
                                            </div>
                                        </th>
                                        <th class="col-lg-6">
                                            <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                                            <div class="form-select" id="default-select_1">
                                                <select>
                                                    <option value="">Trạng thái </option>
                                                    <option>Đang cập nhật</option>
                                                    <option>Chưa cập nhật</option>

                                                </select>
                                            </div>
                                        </th>
                                    </tr>
                                </table>
                            </form>
                            <div class="text-center " style="margin-top: 20px;">
                                <a class="btn_2 " href="#">Cập nhật</a>
                            </div>
                        </div>

                        <div class="tab-pane tabs-animation fade" id="tab-content-1" role="tabpanel">
                            <form action="#">
                                <div class="mt-10"  style="width: 705px">
                                    <input type="text" name="first_name" placeholder="HTS"
                                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'HTS'"
                                           required class="single-input">
                                </div>
                                <div class="mt-10" style="width: 705px">
                                    <input type="text" name="last_name" placeholder="HBV"
                                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'HBV '"
                                           required class="single-input">
                                </div>
                                <table class="mt-10">
                                    <tr>
                                        <th style="width:400px">

                                            <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                                            <div class="form-select" id="default-select_1">
                                                <select>
                                                    <option value="">Người khám  </option>
                                                    <option>Võ Lập</option>
                                                    <option>Quang Nhã</option>
                                                    <option>Ngọc Huy</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                </select>
                                            </div>
                                        </th>
                                        <th class="col-lg-6">
                                            <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                                            <div class="form-select" id="default-select_1">
                                                <select>
                                                    <option value="">Trạng thái </option>
                                                    <option>Đang cập nhật</option>
                                                    <option>Chưa cập nhật</option>

                                                </select>
                                            </div>
                                        </th>
                                    </tr>
                                </table>
                            </form>
                            <div class="text-center " style="margin-top: 20px;">
                                <a class="btn_2 " href="#">Cập nhật</a>
                            </div>
                        </div>

                        <div class="tab-pane tabs-animation fade" id="tab-content-2" role="tabpanel">
                            <form action="#">
                                <table class="mt-10">
                                    <tr>
                                        <th style="width:400px">
                                            <input type="text" name="first_name" placeholder="MSD"
                                                   onfocus="this.placeholder = ''" onblur="this.placeholder = 'MSD'"
                                                   required class="single-input">
                                        </th>
                                        <th class="col-lg-6">
                                            <input type="date" name="last_name" placeholder="Thời gian lấy máu"
                                                   onfocus="this.placeholder = ''" onblur="this.placeholder = ' thời gian'" required
                                                   class="single-input" for="datepicker">
                                        </th>
                                    </tr>                                   
                                </table>                                             
                               <div class="mt-10" style="width: 705px">
                                    <input type="text" name="first_name" placeholder="Phản ứng"
                                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phản ứng'" required
                                           class="single-input">
                                </div>
                                <div class="mt-10"  style="width: 705px">
                                    <input type="text" name="last_name" placeholder="Xử lý"
                                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Xử lý'" required
                                           class="single-input">
                                </div>
                                <table class="mt-10">
                                    <tr>
                                        <th style="width:400px">

                                            <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                                            <div class="form-select" id="default-select_1">
                                                <select>
                                                    <option value="">Người khám  </option>
                                                    <option>Võ Lập</option>
                                                    <option>Quang Nhã</option>
                                                    <option>Ngọc Huy</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                </select>
                                            </div>
                                        </th>
                                        <th class="col-lg-6">
                                            <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                                            <div class="form-select" id="default-select_1">
                                                <select>
                                                    <option value="">Trạng thái </option>
                                                    <option>Đang cập nhật</option>
                                                    <option>Chưa cập nhật</option>
                                                    <option>Cập nhật xong</option>
                                                </select>
                                            </div>
                                        </th>
                                    </tr>
                                </table>
                            </form>
                            <div class="text-center " style="margin-top: 20px;">
                                <a class="btn_2 " href="#">Cập nhật</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 mb-5 mb-lg-0">
            <div class="col-lg-12 col-md-8">
                <h3 class="mb-30">Danh sách người tham gia</h3>

                <hr>
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <h5 class="card-title">Tìm kiếm</h5>
                        <form class="">
                            <div class="form-row">
                                <table class="mt-10">
                                    <tr>
                                        <th style="width:400px">
                                            <input type="email" name="EMAIL" placeholder="Nội dung"
                                                   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nội dung '" required
                                                   class="single-input">
                                            @*<input name="searchString1" value="@ViewBag.SearchString1" id="exampleCity" type="text" class="form-control">*@
                                        </th>
                                        <th class="col-lg-6">
                                            <div>
                                                <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                                                <div class="form-select" id="default-select_1">
                                                    <select>
                                                        <option value=" 1">Đợt tổ chức</option>
                                                        <option value="1">Chưa chọn</option>
                                                        <option value="1">Hiến máu nhân đạo tháng 10</option>
                                                        <option value="1">Hiến máu nhân đạo tháng 11</option>
                                                        <option value="1">Hiến máu nhân đạo tháng 12</option>
                                                        <option value="1">Hiến máu nhân đạo tháng 01</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </th>
                                    </tr>
                                    
                                </table>

                            </div>
                            <div>
                                <button type="submit" class="mt-2 btn btn-primary">
                                    <i class="fa fa-search"></i> Tìm kiếm
                                </button>

                                <button class="mb-2  btn btn-outline-danger" style="margin-top:18px"><i class="fa fa-times-circle"></i> Huỷ</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <table class="mb-0 table table-hover table table-bordered">
                            <tr class="text-center">
                                <th>
                                    STT
                                </th>
                                <th>
                                    Mã đăng ký
                                </th>
                                <th>
                                    Tên nhân viên
                                </th>
                                <th>
                                    Tài khoản
                                </th>
                                <th>
                                    Chức vụ
                                </th>
                                <th>
                                    Nhiệm vụ
                                </th>
                                <th>
                                    Trạng thái
                                </th>
                                <th>
                                    Chức năng
                                </th>
                            </tr>
                            @*@{ var i = 1;}
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @i
                                        </td>
                                        <td>
                                            @item.IdDHM
                                        </td>
                                        <td>
                                            @item.TenDHM
                                        </td>
                                        <td>
                                            @item.noiDung
                                        </td>
                                        <td>
                                            @item.tgBatDau
                                        </td>
                                        <td>
                                            @item.tgKetThuc
                                        </td>
                                        <td>
                                            <button class="mb-2 mr-2 btn-transition btn btn-outline-info">
                                                @(item.trangThai == true ? "Hoạt động" : "Khóa")
                                            </button>
                                        </td>
                                        <td>
                                            @Html.ActionLink("Chỉnh sửa", "EditDHM", new { id = item.IdDHM }) |
                                            @Html.ActionLink("Chi tiết", "Details", new { id = item.IdDHM }) |
                                            @Html.ActionLink("Xóa", "DeleteDHM", new { id = item.IdDHM })
                                        </td>
                                    </tr>
                                    i++;
                                }*@
                        </table>
                        <ul></ul>
                        @* @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))*@
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>



