@using PagedList;
@using PagedList.Mvc
@model PagedList.IPagedList<Models.EF.DotToChucHM>
@{
    ViewBag.Title = "Tham gia hiến máu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listDTCHM = (List<Models.EF.DotToChucHM>)ViewBag.listDTCHM;
}

<section class="breadcrumb_part breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Đợt tổ chức</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(function () {
        $('#AlertBox').removeClass('hide');
        $('#AlertBox').delay(5000).slideUp(500);
    });
</script>
@using (Html.BeginForm("Index", "DKDHM", FormMethod.Get))
{
    <section class="blog_area section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        <div class="panel-body">
                            @if (TempData["AlertMessage"] != null)
                            {
                                <div id="AlertBox" class="alert @TempData["AlertType"] hide">
                                    @TempData["AlertMessage"]
                                </div>
                            }
                        </div>
                        @foreach (var item in listDTCHM)
                        {
                            if (item.ngayKetThucDK < DateTime.Now)
                            {
                                <article class="blog_item">
                                    <div class="blog_item_img">
                                        <img class="card-img rounded-0" src="~/Assets/client/img/blog/single_blog_10.png" alt="" href="@Url.Action("ChiTietDTCHM","DTCHM", new { id = item.IdDTCHM })">
                                        <a class="blog_item_date">
                                            <p>Thời gian: @Html.DisplayFor(model => item.ngayToChuc)</p>
                                        </a>
                                    </div>
                                    <div class="blog_details">
                                        <table>
                                            <tr>
                                                <th style="width:400px">
                                                    Đợt tổ chức:
                                                    <a href="@Url.Action("ChiTietDTCHM","DTCHM", new { id = item.IdDTCHM })">@item.tenDotHienMau</a>
                                                </th>
                                                <th class="col-lg-2">  </th>

                                                <th>
                                                    <a class="genric-btn link circle" href="@Url.Action("ChiTietDTCHM","DTCHM", new { id = item.IdDTCHM })">Xem chi tiết</a>
                                                </th>

                                            </tr>
                                            <tr>
                                                <th>
                                                    Nội dung:  <a> @item.noiDung</a>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>
                                                    Đối tượng tham gia:  <a>@item.doiTuongThamGia</a>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>
                                                    Địa chỉ tổ chức:  <a>@item.diaChiToChuc</a>
                                                </th>

                                            </tr>
                                        </table>
                                        <table>
                                            <tr>
                                                <th>
                                                    Thời gian đăng ký:
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>
                                                    Từ ngày:  <a> @Html.DisplayFor(model => item.ngayBatDauDK)</a>
                                                </th>
                                                <th>
                                                    - Đến ngày: <a> @Html.DisplayFor(model => item.ngayKetThucDK) </a>
                                                </th>
                                            </tr>

                                        </table>

                                        <ul class="blog-info-link" style="margin-top:10px">
                                            <li>
                                                <button class="genric-btn danger radius">Hết hạn đăng ký</button>
                                            </li>
                                        </ul>
                                    </div>
                                </article>
                            }

                            else if (item.trangThai == false)
                            {
                                <article class="blog_item">
                                    <div class="blog_item_img">
                                        <img class="card-img rounded-0" src="~/Assets/client/img/blog/single_blog_10.png" alt="" href="@Url.Action("ChiTietDTCHM","DTCHM", new { id = item.IdDTCHM })">
                                        <a class="blog_item_date">
                                            <p>Thời gian: @Html.DisplayFor(model => item.ngayToChuc)</p>
                                        </a>
                                    </div>
                                    <div class="blog_details">
                                        <table>
                                            <tr>
                                                <th style="width:400px">
                                                    Đợt tổ chức:
                                                    <a href="@Url.Action("ChiTietDTCHM","DTCHM", new { id = item.IdDTCHM })">@item.tenDotHienMau</a>
                                                </th>
                                                <th class="col-lg-2">  </th>

                                                <th>
                                                    <a class="genric-btn link circle" href="@Url.Action("ChiTietDTCHM","DTCHM", new { id = item.IdDTCHM })">Xem chi tiết</a>
                                                </th>

                                            </tr>
                                            <tr>
                                                <th>
                                                    Nội dung:  <a> @item.noiDung</a>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>
                                                    Đối tượng tham gia:  <a>@item.doiTuongThamGia</a>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>
                                                    Địa chỉ tổ chức:  <a>@item.diaChiToChuc</a>
                                                </th>

                                            </tr>
                                        </table>
                                        <table>
                                            <tr>
                                                <th>
                                                    Thời gian đăng ký:
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>
                                                    Từ ngày:  <a> @Html.DisplayFor(model => item.ngayBatDauDK)</a>
                                                </th>
                                                <th>
                                                    - Đến ngày: <a> @Html.DisplayFor(model => item.ngayKetThucDK) </a>
                                                </th>
                                            </tr>

                                        </table>

                                        <ul class="blog-info-link" style="margin-top:10px">
                                            <li>
                                                <button class="genric-btn warning radius">Chưa duyệt</button>
                                            </li>
                                        </ul>
                                    </div>
                                </article>
                            }
                            else
                            {
                                <article class="blog_item">
                                    <div class="blog_item_img">
                                        <img class="card-img rounded-0" src="~/Assets/client/img/blog/single_blog_10.png" alt="" href="@Url.Action("ChiTietDTCHM","DTCHM", new { id = item.IdDTCHM })">
                                        <a class="blog_item_date">
                                            <p>Thời gian: @Html.DisplayFor(model => item.ngayToChuc)</p>
                                        </a>
                                    </div>
                                    <div class="blog_details">
                                        <table>
                                            <tr>
                                                <th style="width:400px">
                                                    Đợt tổ chức:
                                                    <a href="@Url.Action("ChiTietDTCHM","DTCHM", new { id = item.IdDTCHM })">@item.tenDotHienMau</a>
                                                </th>
                                                <th class="col-lg-2">  </th>

                                                <th>
                                                    <a class="genric-btn link circle" href="@Url.Action("ChiTietDTCHM","DTCHM", new { id = item.IdDTCHM })">Xem chi tiết</a>
                                                </th>

                                            </tr>
                                            <tr>
                                                <th>
                                                    Nội dung:  <a> @item.noiDung</a>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>
                                                    Đối tượng tham gia:  <a>@item.doiTuongThamGia</a>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>
                                                    Địa chỉ tổ chức:  <a>@item.diaChiToChuc</a>
                                                </th>

                                            </tr>
                                        </table>
                                        <table>
                                            <tr>
                                                <th>
                                                    Thời gian đăng ký:
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>
                                                    Từ ngày:  <a> @Html.DisplayFor(model => item.ngayBatDauDK)</a>
                                                </th>
                                                <th>
                                                    - Đến ngày: <a> @Html.DisplayFor(model => item.ngayKetThucDK) </a>
                                                </th>
                                            </tr>
                                        </table>
                                        <ul class="blog-info-link" style="margin-top:10px">
                                            @{
                                                var session7 = (HiemMauNhanDao.Common.UserLogin)Session[HiemMauNhanDao.Common.CommonConstant.USER_SESSION];
                                            }
                                            @if (session7 == null)
                                            {
                                                <li>
                                                    <button class="genric-btn warning" href="@Url.Action("Index", "LoginClient") ">Hãy đăng nhập</button>
                                                </li>

                                            }
                                            else if (session7.AuthorID == "Q04" || session7.AuthorID == "Q02" || session7.AuthorID == "Q01")
                                            {
                                                <li>
                                                    <button class="genric-btn warning" href="@Url.Action("Index", "LoginClient") ">Tài khoản không hợp lệ</button> (vui lòng sử dụng tài khoản cá nhân)
                                                </li>
                                            }
                                            else
                                            {

                                                @Html.ActionLink("Đăng ký", "Create", "PhieuDKHM", new { id = item.IdDTCHM, baiDang = item.IdDTCHM }, new { @class = "genric-btn info radius" })

                                            }

                                        </ul>
                                    </div>
                                </article>
                            }
                        }
                    </div>
                    <ul class="pagination">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString, @class = "page-item" }))
                    </ul>

                </div>

                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <form action="#">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input value="@ViewBag.SearchString" type="text" class="form-control" placeholder='Nhập nội dung'
                                               onfocus="this.placeholder = ''"
                                               onblur="this.placeholder = 'Nhập nội dung'">
                                        <div class="input-group-append">
                                            <button class="btn" type="button"><i class="ti-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1"
                                        type="submit">
                                    Tìm kiếm
                                </button>
                            </form>
                        </aside>
                        @RenderPage("_RightMenu.cshtml")

                    </div>
                </div>
            </div>

        </div>
    </section>
}

