@model Models.EF.ThongTinCaNhan
@{
    ViewBag.Title = "Đăng ký tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="breadcrumb_part breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Đăng ký thành viên</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(function () {
        $('#AlertBox').removeClass('hide');
        $('#AlertBox').delay(5000).slideUp(500);
    });
</script>

@{ var txt1 = " [kytu]@gmail.com";}
@{ var txt2 = " [kytu]@[kytu].com";}
@{ var txt3 = " [kytu]@[kytu].[kytu]";}
@{ var txt4 = " [kytu]@yahoo.com";}
<section class="blog_area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">Đăng ký</h4>
                        <ul class="list cat-list">
                            <li>
                                <a href="/DangKyTK/NguoiDung" class="d-flex">
                                    <p>Thành viên</p>
                                </a>
                            </li>
                            
                        </ul>
                    </aside>
                </div>
            </div>


            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    <h3 class="mb-10">Vui lòng điền đầy đủ thông tin</h3>
                    <hr />
                    <div class="panel-body">
                        @if (TempData["AlertMessage"] != null)
                        {
                            <div id="AlertBox" class="alert @TempData["AlertType"] hide">
                                @TempData["AlertMessage"]
                            </div>
                        }
                    </div>
                    <div>
                        @using (Html.BeginForm("NguoiDung", "DangKyTK", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                            <div class="panel-body" style="font-weight: bold; text-align: center; color: red">
                                @if (@ViewBag.ThongBao != null)
                                {
                                    <label>@ViewBag.ThongBao </label>
                                }
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-8">
                                    <form action="@Url.Action("NguoiDung")" method="post">
                                        <table class="mt-10">
                                            <tr>
                                                <th style="width:400px">
                                                    <div>
                                                        <a>Họ và tên </a>
                                                        @Html.EditorFor(model => model.hoTen, new { htmlAttributes = new { @class = "single-input", @type = "text", @placeholder = "Họ và tên" } })

                                                    </div>
                                                </th>
                                                <th class="col-lg-6">
                                                    <div>
                                                        <a>Số điện thoại</a>
                                                        @Html.EditorFor(model => model.soDT, new { htmlAttributes = new { @class = "single-input", @type = "number", @placeholder = "nhập số điện thoại" } })

                                                    </div>
                                                </th>
                                            </tr>
                                        </table>
                                        <table class="mt-10">
                                            <tr>
                                                <th style="width:400px">
                                                    <div>
                                                        <a>Ngày Sinh</a>
                                                        @Html.EditorFor(model => model.ngaySinh, new { htmlAttributes = new { @class = "single-input", @type = "date", @for = "datepicker" } })
                                                     
                                                    </div>
                                                </th>
                                                <th class="col-lg-6">
                                                    <div>
                                                        <a>CCCD / CMND</a>
                                                        @Html.EditorFor(model => model.CCCD, new { htmlAttributes = new { @class = "single-input", @type = "number", @placeholder = "CCCD / CMND" } })

                                                    </div>
                                                </th>
                                            </tr>
                                        </table>
                                        <table class="mt-10">
                                            <tr>
                                                <th style="width:400px">
                                                    <div>
                                                        <a>Tài khoản</a>
                                                        @Html.EditorFor(model => model.userName, new { htmlAttributes = new { @class = "single-input", @type = "text", @placeholder = "taikhoan@gmail.com" } })
                                                    </div>
                                                </th>
                                                <th class="col-lg-6">
                                                    <div>
                                                        <a>Mật khẩu</a>
                                                        @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "single-input", @type = "password", @name = "txtXacNhanMK", @placeholder = "độ dài trên 9 kí tự" } })
                                                    </div>
                                                </th>
                                            </tr>
                                        </table>
                                        @Html.HiddenFor(model => model.idQuyen)

                                    </form>
                                    <div class="text-center" style="margin-top:20px">
                                        <button type="submit" class="btn btn-primary">Đăng ký</button>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
                <hr />
                <h2>Lưu ý</h2>
                <table class="mt-10">
                    <tr>
                        <th style="width:400px">
                            <div>
                                Tài khoản thuộc các định dạng: <a> @txt1,@txt2,@txt3,@txt4</a>
                            </div>
                        </th>
                        <th class="col-lg-6">
                            <div>
                                Mật khẩu : <a>lớn hơn 9 ký tự </a>
                            </div>
                        </th>
                        <th></th>
                    </tr>
                    <tr>
                        <th style="width:400px">
                            <div>
                                Nội dung:  <a>phải điền đẩy đủ các thông tin</a>
                            </div>
                        </th>
                        <th class="col-lg-6">
                            <div>
                                Số điện thoại :<a> từ 8-12 số</a>
                            </div>
                        </th>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</section>

